In [1]:
import pandas as pd

In [2]:
weather_data={
'Day':['3/1/2019','3/2/2019','3/3/2019','3/4/2019'],
'Temperature':[15,17,14,21],
'Windspeed':[6,7,10,12],
'Event':['Rain','Sunny','Rain','Sunny']
}

In [3]:
dfd=pd.DataFrame(weather_data)

In [4]:
print(dfd)

        Day  Temperature  Windspeed  Event
0  3/1/2019           15          6   Rain
1  3/2/2019           17          7  Sunny
2  3/3/2019           14         10   Rain
3  3/4/2019           21         12  Sunny

In [5]:
weather_data=[
('3/1/2019',15,6,'Rain'),
('3/2/2019',17,7,'Sunny'),
('3/3/2019',14,10,'Rain'),
('3/4/2019',21,12,'Sunny')]

In [6]:
dft=pd.DataFrame(weather_data, columns=["Day","Temperature","Windspeed","Event"])

In [7]:
print(dft)

        Day  Temperature  Windspeed  Event
0  3/1/2019           15          6   Rain
1  3/2/2019           17          7  Sunny
2  3/3/2019           14         10   Rain
3  3/4/2019           21         12  Sunny

In [8]:
weather_data=[
{'Day':'1/1/2019','Temperature':15,'Windspeed':6,'Event':'Rain'},
{'Day':'1/2/2019','Temperature':17,'Windspeed':7,'Event':'Sunny'},
{'Day':'1/3/2019','Temperature':14,'Windspeed':10,'Event':'Rain'},
{'Day':'1/4/2019','Temperature':21,'Windspeed':12,'Event':'Sunny'}
]

In [9]:
dfdl=pd.DataFrame(weather_data)

In [10]:
print(dfdl)

        Day  Event  Temperature  Windspeed
0  1/1/2019   Rain           15          6
1  1/2/2019  Sunny           17          7
2  1/3/2019   Rain           14         10
3  1/4/2019  Sunny           21         12

In [11]:
dfc= pd.read_csv('WHO_csv.csv')

In [12]:
print(dfc)

                                       Country                 Region  \
0                                  Afghanistan  Eastern Mediterranean
1                                      Albania                 Europe
2                                      Algeria                 Africa
3                                      Andorra                 Europe
4                                       Angola                 Africa
5                          Antigua and Barbuda               Americas
6                                    Argentina               Americas
7                                      Armenia                 Europe
8                                    Australia        Western Pacific
9                                      Austria                 Europe
10                                  Azerbaijan                 Europe
11                                     Bahamas               Americas
12                                     Bahrain  Eastern Mediterranean
13                                  Bangladesh        South-East Asia
14                                    Barbados               Americas
15                                     Belarus                 Europe
16                                     Belgium                 Europe
17                                      Belize               Americas
18                                       Benin                 Africa
19                                      Bhutan        South-East Asia
20            Bolivia (Plurinational State of)               Americas
21                      Bosnia and Herzegovina                 Europe
22                                    Botswana                 Africa
23                                      Brazil               Americas
24                           Brunei Darussalam        Western Pacific
25                                    Bulgaria                 Europe
26                                Burkina Faso                 Africa
27                                     Burundi                 Africa
28                                    Cambodia        Western Pacific
29                                    Cameroon                 Africa
..                                         ...                    ...
164                                   Suriname               Americas
165                                  Swaziland                 Africa
166                                     Sweden                 Europe
167                                Switzerland                 Europe
168                       Syrian Arab Republic  Eastern Mediterranean
169                                 Tajikistan                 Europe
170                                   Thailand        South-East Asia
171  The former Yugoslav Republic of Macedonia                 Europe
172                                Timor-Leste        South-East Asia
173                                       Togo                 Africa
174                                      Tonga        Western Pacific
175                        Trinidad and Tobago               Americas
176                                    Tunisia  Eastern Mediterranean
177                                     Turkey                 Europe
178                               Turkmenistan                 Europe
179                                     Tuvalu        Western Pacific
180                                     Uganda                 Africa
181                                    Ukraine                 Europe
182                       United Arab Emirates  Eastern Mediterranean
183                             United Kingdom                 Europe
184                United Republic of Tanzania                 Africa
185                   United States of America               Americas
186                                    Uruguay               Americas
187                                 Uzbekistan                 Europe
188                                    Vanuatu        Western Pacific
189         Venezuela (Bolivarian Republic of)               Americas
190                                   Viet Nam        Western Pacific
191                                      Yemen  Eastern Mediterranean
192                                     Zambia                 Africa
193                                   Zimbabwe                 Africa

     Population  Under15  Over60  FertilityRate  LifeExpectancy  \
0         29825    47.42    3.82           5.40              60
1          3162    21.33   14.93           1.75              74
2         38482    27.42    7.17           2.83              73
3            78    15.20   22.86            NaN              82
4         20821    47.58    3.84           6.10              51
5            89    25.96   12.35           2.12              75
6         41087    24.42   14.97           2.20              76
7          2969    20.34   14.06           1.74              71
8         23050    18.95   19.46           1.89              82
9          8464    14.51   23.52           1.44              81
10         9309    22.25    8.24           1.96              71
11          372    21.62   11.24           1.90              75
12         1318    20.16    3.38           2.12              79
13       155000    30.57    6.89           2.24              70
14          283    18.99   15.78           1.84              78
15         9405    15.10   19.31           1.47              71
16        11060    16.88   23.81           1.85              80
17          324    34.40    5.74           2.76              74
18        10051    42.95    4.54           5.01              57
19          742    28.53    6.90           2.32              67
20        10496    35.23    7.28           3.31              67
21         3834    16.35   20.52           1.26              76
22         2004    33.75    5.63           2.71              66
23       199000    24.56   10.81           1.82              74
24          412    25.75    7.03           2.03              77
25         7278    13.53   26.11           1.51              74
26        16460    45.66    3.88           5.78              56
27         9850    44.20    3.87           6.21              53
28        14865    31.23    7.67           2.93              65
29        21700    43.08    4.89           4.94              53
..          ...      ...     ...            ...             ...
164         535    27.83    9.55           2.32              72
165        1231    38.05    5.34           3.48              50
166        9511    16.71   25.32           1.93              82
167        7997    14.79   23.25           1.51              83
168       21890    35.35    6.09           3.04              75
169        8009    35.75    4.80           3.81              68
170       66785    18.47   13.96           1.43              74
171        2106    16.89   17.56           1.44              75
172        1114    46.33    5.16           6.11              64
173        6643    41.89    4.44           4.75              56
174         105    37.33    7.96           3.86              72
175        1337    20.73   13.18           1.80              71
176       10875    23.22   10.49           2.04              76
177       73997    26.00   10.56           2.08              76
178        5173    28.65    6.30           2.38              63
179          10    30.61    9.07            NaN              64
180       36346    48.54    3.72           6.06              56
181       45530    14.18   20.76           1.45              71
182        9206    14.41    0.81           1.84              76
183       62783    17.54   23.06           1.90              80
184       47783    44.85    4.89           5.36              59
185      318000    19.63   19.31           2.00              79
186        3395    22.05   18.59           2.07              77
187       28541    28.90    6.38           2.38              68
188         247    37.37    6.02           3.46              72
189       29955    28.84    9.17           2.44              75
190       90796    22.87    9.32           1.79              75
191       23852    40.72    4.54           4.35              64
192       14075    46.73    3.95           5.77              55
193       13724    40.24    5.68           3.64              54

     ChildMortality  CellularSubscribers  LiteracyRate      GNI  \
0              98.5                54.26           NaN   1140.0
1              16.7                96.39           NaN   8820.0
2              20.0                98.99           NaN   8310.0
3               3.2                75.49           NaN      NaN
4             163.5                48.38          70.1   5230.0
5               9.9               196.41          99.0  17900.0
6              14.2               134.92          97.8  17130.0
7              16.4               103.57          99.6   6100.0
8               4.9               108.34           NaN  38110.0
9               4.0               154.78           NaN  42050.0
10             35.2               108.75           NaN   8960.0
11             16.9                86.06           NaN      NaN
12              9.6               127.96          91.9      NaN
13             40.9                56.06          56.8   1940.0
14             18.4               127.01           NaN      NaN
15              5.2               111.88           NaN  14460.0
16              4.2               116.61           NaN  39190.0
17             18.3                69.96           NaN   6090.0
18             89.5                85.33          42.4   1620.0
19             44.6                65.58           NaN   5570.0
20             41.4                82.82           NaN   4890.0
21              6.7                84.52          97.9   9190.0
22             53.3               142.82          84.5  14550.0
23             14.4               124.26           NaN  11420.0
24              8.0               109.17          95.2      NaN
25             12.1               140.68           NaN  14160.0
26            102.4                45.27           NaN   1300.0
27            104.3                22.33          67.2    610.0
28             39.7                96.17           NaN   2230.0
29             94.9                52.35           NaN   2330.0
..              ...                  ...           ...      ...
164            20.8               178.88          94.7      NaN
165            79.7                63.70          87.4   5930.0
166             2.9               118.57           NaN  42200.0
167             4.3               131.43           NaN  52570.0
168            15.1                63.17          83.4      NaN
169            58.3                90.64          99.7   2300.0
170            13.2               111.63           NaN   8360.0
171             7.4               107.24          97.3  11090.0
172            56.7                53.23          58.3      NaN
173            95.5                50.45           NaN   1040.0
174            12.8                52.63           NaN   5000.0
175            20.7               135.64          98.8      NaN
176            16.1               116.93           NaN   9030.0
177            14.2                88.70           NaN  16940.0
178            52.8                68.77          99.6   8690.0
179            29.7                21.63           NaN      NaN
180            68.9                48.38          73.2   1310.0
181            10.7               122.98          99.7   7040.0
182             8.4               148.62           NaN  47890.0
183             4.8               130.75           NaN  36010.0
184            54.0                55.53          73.2   1500.0
185             7.1                92.72           NaN  48820.0
186             7.2               140.75          98.1  14640.0
187            39.6                91.65          99.4   3420.0
188            17.9                55.76          82.6   4330.0
189            15.3                97.78           NaN  12430.0
190            23.0               143.39          93.2   3250.0
191            60.0                47.05          63.9   2170.0
192            88.5                60.59          71.2   1490.0
193            89.8                72.13          92.2      NaN

     PrimarySchoolEnrollmentMale  PrimarySchoolEnrollmentFemale
0                            NaN                            NaN
1                            NaN                            NaN
2                           98.2                           96.4
3                           78.4                           79.4
4                           93.1                           78.2
5                           91.1                           84.5
6                            NaN                            NaN
7                            NaN                            NaN
8                           96.9                           97.5
9                            NaN                            NaN
10                          85.3                           84.1
11                           NaN                            NaN
12                           NaN                            NaN
13                           NaN                            NaN
14                           NaN                            NaN
15                           NaN                            NaN
16                          98.9                           99.2
17                           NaN                            NaN
18                           NaN                            NaN
19                          88.3                           91.5
20                          91.2                           91.5
21                          86.5                           88.4
22                           NaN                            NaN
23                           NaN                            NaN
24                           NaN                            NaN
25                          99.3                           99.7
26                          60.7                           55.9
27                           NaN                            NaN
28                          96.4                           95.4
29                          99.6                           87.4
..                           ...                            ...
164                          NaN                            NaN
165                          NaN                            NaN
166                         99.7                           99.0
167                         98.9                           99.5
168                          NaN                            NaN
169                         99.5                           96.0
170                          NaN                            NaN
171                         97.3                           99.2
172                         86.2                           85.6
173                          NaN                            NaN
174                          NaN                            NaN
175                         97.7                           97.0
176                          NaN                            NaN
177                         99.5                           98.3
178                          NaN                            NaN
179                          NaN                            NaN
180                         89.7                           92.3
181                         90.8                           91.5
182                          NaN                            NaN
183                         99.8                           99.6
184                          NaN                            NaN
185                         95.4                           96.1
186                          NaN                            NaN
187                         93.3                           91.0
188                          NaN                            NaN
189                         94.7                           95.1
190                          NaN                            NaN
191                         85.5                           70.5
192                         91.4                           93.9
193                          NaN                            NaN

[194 rows x 13 columns]

In [13]:
df=pd.read_csv('weather.csv')

In [14]:
print(df)

  Weather Report   Unnamed: 1 Unnamed: 2 Unnamed: 3
0           Date  Temperature  Windspeed      Event
1       3/1/2019           30          6       Rain
2       3/2/2019           32          7      Sunny
3       3/3/2019           34         10       Rain
4       3/4/2019           36         12      Sunny

In [15]:
df1=pd.read_csv('weather.csv',skiprows=1)

In [16]:
print(df1)

       Date  Temperature  Windspeed  Event
0  3/1/2019           30          6   Rain
1  3/2/2019           32          7  Sunny
2  3/3/2019           34         10   Rain
3  3/4/2019           36         12  Sunny

In [17]:
dfs2= pd.read_csv('Weather.csv',header=1)

In [18]:
print(dfs2)

       Date  Temperature  Windspeed  Event
0  3/1/2019           30          6   Rain
1  3/2/2019           32          7  Sunny
2  3/3/2019           34         10   Rain
3  3/4/2019           36         12  Sunny

In [19]:
dfh= pd.read_csv('Weather_header.csv')

In [20]:
print(dfh)

   3/1/2019  30   6   Rain
0  3/2/2019  32   7  Sunny
1  3/3/2019  34  10   Rain
2  3/4/2019  36  12  Sunny

In [21]:
dfhs1= pd.read_csv('Weather_header.csv',header=None)
print(dfhs1)

          0   1   2      3
0  3/1/2019  30   6   Rain
1  3/2/2019  32   7  Sunny
2  3/3/2019  34  10   Rain
3  3/4/2019  36  12  Sunny

In [22]:
dfhs2= pd.read_csv('Weather_header.csv',
names=['Date','Temperature',
'Windspeed','Event'])
print(dfhs2)

       Date  Temperature  Windspeed  Event
0  3/1/2019           30          6   Rain
1  3/2/2019           32          7  Sunny
2  3/3/2019           34         10   Rain
3  3/4/2019           36         12  Sunny

In [23]:
dffl= pd.read_csv('Weather1.csv',nrows=2)
print(dffl)

       Date  Temperature  Windspeed  Event
0  3/1/2019           30          6   Rain
1  3/2/2019           32          7  Sunny

In [24]:
Family= pd.read_csv('Family.csv')

In [25]:
print(Family)

               Name           ID          Program
0      Irfan Kareem  F2018279005           MS(CS)
1     Rizwan Kareem  F2017279005          BS Math
2      Ayyan Kareem  F2016279004  FSC Pre-Medical
3  Family Data Base          NaN              NaN

In [26]:
Family= pd.read_csv('Family.csv',skipfooter=1)
print(Family)

            Name           ID          Program
0   Irfan Kareem  F2018279005           MS(CS)
1  Rizwan Kareem  F2017279005          BS Math
2   Ayyan Kareem  F2016279004  FSC Pre-Medical

C:\Users\iwx499921\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [27]:
dfe=pd.read_excel("WHO_ex.xlsx")
print(dfe)

                                       Country                 Region  \
0                                  Afghanistan  Eastern Mediterranean
1                                      Albania                 Europe
2                                      Algeria                 Africa
3                                      Andorra                 Europe
4                                       Angola                 Africa
5                          Antigua and Barbuda               Americas
6                                    Argentina               Americas
7                                      Armenia                 Europe
8                                    Australia        Western Pacific
9                                      Austria                 Europe
10                                  Azerbaijan                 Europe
11                                     Bahamas               Americas
12                                     Bahrain  Eastern Mediterranean
13                                  Bangladesh        South-East Asia
14                                    Barbados               Americas
15                                     Belarus                 Europe
16                                     Belgium                 Europe
17                                      Belize               Americas
18                                       Benin                 Africa
19                                      Bhutan        South-East Asia
20            Bolivia (Plurinational State of)               Americas
21                      Bosnia and Herzegovina                 Europe
22                                    Botswana                 Africa
23                                      Brazil               Americas
24                           Brunei Darussalam        Western Pacific
25                                    Bulgaria                 Europe
26                                Burkina Faso                 Africa
27                                     Burundi                 Africa
28                                    Cambodia        Western Pacific
29                                    Cameroon                 Africa
..                                         ...                    ...
164                                   Suriname               Americas
165                                  Swaziland                 Africa
166                                     Sweden                 Europe
167                                Switzerland                 Europe
168                       Syrian Arab Republic  Eastern Mediterranean
169                                 Tajikistan                 Europe
170                                   Thailand        South-East Asia
171  The former Yugoslav Republic of Macedonia                 Europe
172                                Timor-Leste        South-East Asia
173                                       Togo                 Africa
174                                      Tonga        Western Pacific
175                        Trinidad and Tobago               Americas
176                                    Tunisia  Eastern Mediterranean
177                                     Turkey                 Europe
178                               Turkmenistan                 Europe
179                                     Tuvalu        Western Pacific
180                                     Uganda                 Africa
181                                    Ukraine                 Europe
182                       United Arab Emirates  Eastern Mediterranean
183                             United Kingdom                 Europe
184                United Republic of Tanzania                 Africa
185                   United States of America               Americas
186                                    Uruguay               Americas
187                                 Uzbekistan                 Europe
188                                    Vanuatu        Western Pacific
189         Venezuela (Bolivarian Republic of)               Americas
190                                   Viet Nam        Western Pacific
191                                      Yemen  Eastern Mediterranean
192                                     Zambia                 Africa
193                                   Zimbabwe                 Africa

     Population  Under15  Over60  FertilityRate  LifeExpectancy  \
0         29825    47.42    3.82           5.40              60
1          3162    21.33   14.93           1.75              74
2         38482    27.42    7.17           2.83              73
3            78    15.20   22.86            NaN              82
4         20821    47.58    3.84           6.10              51
5            89    25.96   12.35           2.12              75
6         41087    24.42   14.97           2.20              76
7          2969    20.34   14.06           1.74              71
8         23050    18.95   19.46           1.89              82
9          8464    14.51   23.52           1.44              81
10         9309    22.25    8.24           1.96              71
11          372    21.62   11.24           1.90              75
12         1318    20.16    3.38           2.12              79
13       155000    30.57    6.89           2.24              70
14          283    18.99   15.78           1.84              78
15         9405    15.10   19.31           1.47              71
16        11060    16.88   23.81           1.85              80
17          324    34.40    5.74           2.76              74
18        10051    42.95    4.54           5.01              57
19          742    28.53    6.90           2.32              67
20        10496    35.23    7.28           3.31              67
21         3834    16.35   20.52           1.26              76
22         2004    33.75    5.63           2.71              66
23       199000    24.56   10.81           1.82              74
24          412    25.75    7.03           2.03              77
25         7278    13.53   26.11           1.51              74
26        16460    45.66    3.88           5.78              56
27         9850    44.20    3.87           6.21              53
28        14865    31.23    7.67           2.93              65
29        21700    43.08    4.89           4.94              53
..          ...      ...     ...            ...             ...
164         535    27.83    9.55           2.32              72
165        1231    38.05    5.34           3.48              50
166        9511    16.71   25.32           1.93              82
167        7997    14.79   23.25           1.51              83
168       21890    35.35    6.09           3.04              75
169        8009    35.75    4.80           3.81              68
170       66785    18.47   13.96           1.43              74
171        2106    16.89   17.56           1.44              75
172        1114    46.33    5.16           6.11              64
173        6643    41.89    4.44           4.75              56
174         105    37.33    7.96           3.86              72
175        1337    20.73   13.18           1.80              71
176       10875    23.22   10.49           2.04              76
177       73997    26.00   10.56           2.08              76
178        5173    28.65    6.30           2.38              63
179          10    30.61    9.07            NaN              64
180       36346    48.54    3.72           6.06              56
181       45530    14.18   20.76           1.45              71
182        9206    14.41    0.81           1.84              76
183       62783    17.54   23.06           1.90              80
184       47783    44.85    4.89           5.36              59
185      318000    19.63   19.31           2.00              79
186        3395    22.05   18.59           2.07              77
187       28541    28.90    6.38           2.38              68
188         247    37.37    6.02           3.46              72
189       29955    28.84    9.17           2.44              75
190       90796    22.87    9.32           1.79              75
191       23852    40.72    4.54           4.35              64
192       14075    46.73    3.95           5.77              55
193       13724    40.24    5.68           3.64              54

     ChildMortality  CellularSubscribers  LiteracyRate      GNI  \
0              98.5                54.26           NaN   1140.0
1              16.7                96.39           NaN   8820.0
2              20.0                98.99           NaN   8310.0
3               3.2                75.49           NaN      NaN
4             163.5                48.38          70.1   5230.0
5               9.9               196.41          99.0  17900.0
6              14.2               134.92          97.8  17130.0
7              16.4               103.57          99.6   6100.0
8               4.9               108.34           NaN  38110.0
9               4.0               154.78           NaN  42050.0
10             35.2               108.75           NaN   8960.0
11             16.9                86.06           NaN      NaN
12              9.6               127.96          91.9      NaN
13             40.9                56.06          56.8   1940.0
14             18.4               127.01           NaN      NaN
15              5.2               111.88           NaN  14460.0
16              4.2               116.61           NaN  39190.0
17             18.3                69.96           NaN   6090.0
18             89.5                85.33          42.4   1620.0
19             44.6                65.58           NaN   5570.0
20             41.4                82.82           NaN   4890.0
21              6.7                84.52          97.9   9190.0
22             53.3               142.82          84.5  14550.0
23             14.4               124.26           NaN  11420.0
24              8.0               109.17          95.2      NaN
25             12.1               140.68           NaN  14160.0
26            102.4                45.27           NaN   1300.0
27            104.3                22.33          67.2    610.0
28             39.7                96.17           NaN   2230.0
29             94.9                52.35           NaN   2330.0
..              ...                  ...           ...      ...
164            20.8               178.88          94.7      NaN
165            79.7                63.70          87.4   5930.0
166             2.9               118.57           NaN  42200.0
167             4.3               131.43           NaN  52570.0
168            15.1                63.17          83.4      NaN
169            58.3                90.64          99.7   2300.0
170            13.2               111.63           NaN   8360.0
171             7.4               107.24          97.3  11090.0
172            56.7                53.23          58.3      NaN
173            95.5                50.45           NaN   1040.0
174            12.8                52.63           NaN   5000.0
175            20.7               135.64          98.8      NaN
176            16.1               116.93           NaN   9030.0
177            14.2                88.70           NaN  16940.0
178            52.8                68.77          99.6   8690.0
179            29.7                21.63           NaN      NaN
180            68.9                48.38          73.2   1310.0
181            10.7               122.98          99.7   7040.0
182             8.4               148.62           NaN  47890.0
183             4.8               130.75           NaN  36010.0
184            54.0                55.53          73.2   1500.0
185             7.1                92.72           NaN  48820.0
186             7.2               140.75          98.1  14640.0
187            39.6                91.65          99.4   3420.0
188            17.9                55.76          82.6   4330.0
189            15.3                97.78           NaN  12430.0
190            23.0               143.39          93.2   3250.0
191            60.0                47.05          63.9   2170.0
192            88.5                60.59          71.2   1490.0
193            89.8                72.13          92.2      NaN

     PrimarySchoolEnrollmentMale  PrimarySchoolEnrollmentFemale
0                            NaN                            NaN
1                            NaN                            NaN
2                           98.2                           96.4
3                           78.4                           79.4
4                           93.1                           78.2
5                           91.1                           84.5
6                            NaN                            NaN
7                            NaN                            NaN
8                           96.9                           97.5
9                            NaN                            NaN
10                          85.3                           84.1
11                           NaN                            NaN
12                           NaN                            NaN
13                           NaN                            NaN
14                           NaN                            NaN
15                           NaN                            NaN
16                          98.9                           99.2
17                           NaN                            NaN
18                           NaN                            NaN
19                          88.3                           91.5
20                          91.2                           91.5
21                          86.5                           88.4
22                           NaN                            NaN
23                           NaN                            NaN
24                           NaN                            NaN
25                          99.3                           99.7
26                          60.7                           55.9
27                           NaN                            NaN
28                          96.4                           95.4
29                          99.6                           87.4
..                           ...                            ...
164                          NaN                            NaN
165                          NaN                            NaN
166                         99.7                           99.0
167                         98.9                           99.5
168                          NaN                            NaN
169                         99.5                           96.0
170                          NaN                            NaN
171                         97.3                           99.2
172                         86.2                           85.6
173                          NaN                            NaN
174                          NaN                            NaN
175                         97.7                           97.0
176                          NaN                            NaN
177                         99.5                           98.3
178                          NaN                            NaN
179                          NaN                            NaN
180                         89.7                           92.3
181                         90.8                           91.5
182                          NaN                            NaN
183                         99.8                           99.6
184                          NaN                            NaN
185                         95.4                           96.1
186                          NaN                            NaN
187                         93.3                           91.0
188                          NaN                            NaN
189                         94.7                           95.1
190                          NaN                            NaN
191                         85.5                           70.5
192                         91.4                           93.9
193                          NaN                            NaN

[194 rows x 13 columns]

In [28]:
irfan = pd.ExcelFile('Weather_subject.xlsx')
df1 = pd.read_excel(irfan, 'Weather')
df2 = pd.read_excel(irfan, 'Subject')

In [29]:
print(df1)

         Day  Event  Temperature  Windspeed
0 2019-03-01   Rain           30          6
1 2019-03-02  Sunny           32          7
2 2019-03-03   Rain           34         10
3 2019-03-04  Sunny           36         12

In [30]:
print(df2)

   Marks     Name Result Subject
0    100    Irfan   Pass    Math
1     98    Riwan   Pass     Phy
2     97    Ahmed   Pass    Chem
3     95  Mansoor   Pass     Bio

In [31]:
#Write Function of Data Frame
subject_data=pd.DataFrame({
'Name':['Irfan','Ali','Ahmed','Abdullah'],
'Marks':[100,98,97,95],
'Result':['Pass','Pass','Pass','Pass'],
'Subject':['Math','Phy','Chem','Bio']
})

In [32]:
#Write .csv Format File (Example-1)
subject_data.to_csv('csvformatexample1.csv')

In [33]:
#Write .csv Format File (without Index) (Example-1)
subject_data.to_csv('csvformatexample1index.csv',index=False)

In [34]:
#Write .csv Format File (without Index)/Selected Columns Required (Example-1)
subject_data.to_csv('csvformatexample1fc.csv',
index=False,columns=['Name','Marks'])

In [35]:
#Write .csv Format File Skip Header (Example-1)
subject_data.to_csv('csvformatexamplsh.csv',index=False,header=False)

In [36]:
#Write .xlsx Format File (Example-2)
subject_data.to_excel("exformat1.xlsx",sheet_name="Student")

In [37]:
#Write .xlsx Format File (Without Index and mentioned row and col no) (Example-2)
subject_data.to_excel("exformat2.xlsx",sheet_name="Student",
startrow=3,startcol=3,index=False)

In [38]:
weather_data=pd.DataFrame({
'day':['3/1/2019','3/2/2019','3/3/2019','3/4/2019'],
'temperature':[15,17,14,21],
'windspeed':[6,7,10,12],
'event':['Rain','Sunny','Rain','Sunny']
})

In [39]:
#Write .xlsx Format File (For multiple worksheets of the same workbook) (Example-2)
with pd.ExcelWriter('TwoTabSheet.xlsx') as writer:
 weather_data.to_excel(writer,sheet_name="Weather",index=False)
 subject_data.to_excel(writer,sheet_name="Subject",index=False)

In [40]:
with pd.ExcelWriter('Threetabsheet.xlsx') as writer:
    weather_data.to_excel(writer,sheet_name="Temperature",index=False)
    weather_data.to_excel (writer,sheet_name="windspeed" ,index=False)
    weather_data.to_excel (writer,sheet_name="event" ,index=False)

In [41]:
#Date Time Format Issue
DT= pd.read_csv("DateIssue.csv")
print(DT)

       Date  Temperature  Windspeed  Event
0  3/2/2019           30          6   Rain
1  3/3/2019           32          7  Sunny
2  3/4/2019           34         10   Rain
3  3/5/2019           36         12  Sunny

In [42]:
type(DT.Date[0])

str

In [43]:
DT.set_index('Date',inplace=True)

In [44]:
print(DT)

          Temperature  Windspeed  Event
Date
3/2/2019           30          6   Rain
3/3/2019           32          7  Sunny
3/4/2019           34         10   Rain
3/5/2019           36         12  Sunny

In [45]:
#Operations on Data Frames
WHO= pd.read_csv("WHO_csv.csv")

In [46]:
print(WHO)

                                       Country                 Region  \
0                                  Afghanistan  Eastern Mediterranean
1                                      Albania                 Europe
2                                      Algeria                 Africa
3                                      Andorra                 Europe
4                                       Angola                 Africa
5                          Antigua and Barbuda               Americas
6                                    Argentina               Americas
7                                      Armenia                 Europe
8                                    Australia        Western Pacific
9                                      Austria                 Europe
10                                  Azerbaijan                 Europe
11                                     Bahamas               Americas
12                                     Bahrain  Eastern Mediterranean
13                                  Bangladesh        South-East Asia
14                                    Barbados               Americas
15                                     Belarus                 Europe
16                                     Belgium                 Europe
17                                      Belize               Americas
18                                       Benin                 Africa
19                                      Bhutan        South-East Asia
20            Bolivia (Plurinational State of)               Americas
21                      Bosnia and Herzegovina                 Europe
22                                    Botswana                 Africa
23                                      Brazil               Americas
24                           Brunei Darussalam        Western Pacific
25                                    Bulgaria                 Europe
26                                Burkina Faso                 Africa
27                                     Burundi                 Africa
28                                    Cambodia        Western Pacific
29                                    Cameroon                 Africa
..                                         ...                    ...
164                                   Suriname               Americas
165                                  Swaziland                 Africa
166                                     Sweden                 Europe
167                                Switzerland                 Europe
168                       Syrian Arab Republic  Eastern Mediterranean
169                                 Tajikistan                 Europe
170                                   Thailand        South-East Asia
171  The former Yugoslav Republic of Macedonia                 Europe
172                                Timor-Leste        South-East Asia
173                                       Togo                 Africa
174                                      Tonga        Western Pacific
175                        Trinidad and Tobago               Americas
176                                    Tunisia  Eastern Mediterranean
177                                     Turkey                 Europe
178                               Turkmenistan                 Europe
179                                     Tuvalu        Western Pacific
180                                     Uganda                 Africa
181                                    Ukraine                 Europe
182                       United Arab Emirates  Eastern Mediterranean
183                             United Kingdom                 Europe
184                United Republic of Tanzania                 Africa
185                   United States of America               Americas
186                                    Uruguay               Americas
187                                 Uzbekistan                 Europe
188                                    Vanuatu        Western Pacific
189         Venezuela (Bolivarian Republic of)               Americas
190                                   Viet Nam        Western Pacific
191                                      Yemen  Eastern Mediterranean
192                                     Zambia                 Africa
193                                   Zimbabwe                 Africa

     Population  Under15  Over60  FertilityRate  LifeExpectancy  \
0         29825    47.42    3.82           5.40              60
1          3162    21.33   14.93           1.75              74
2         38482    27.42    7.17           2.83              73
3            78    15.20   22.86            NaN              82
4         20821    47.58    3.84           6.10              51
5            89    25.96   12.35           2.12              75
6         41087    24.42   14.97           2.20              76
7          2969    20.34   14.06           1.74              71
8         23050    18.95   19.46           1.89              82
9          8464    14.51   23.52           1.44              81
10         9309    22.25    8.24           1.96              71
11          372    21.62   11.24           1.90              75
12         1318    20.16    3.38           2.12              79
13       155000    30.57    6.89           2.24              70
14          283    18.99   15.78           1.84              78
15         9405    15.10   19.31           1.47              71
16        11060    16.88   23.81           1.85              80
17          324    34.40    5.74           2.76              74
18        10051    42.95    4.54           5.01              57
19          742    28.53    6.90           2.32              67
20        10496    35.23    7.28           3.31              67
21         3834    16.35   20.52           1.26              76
22         2004    33.75    5.63           2.71              66
23       199000    24.56   10.81           1.82              74
24          412    25.75    7.03           2.03              77
25         7278    13.53   26.11           1.51              74
26        16460    45.66    3.88           5.78              56
27         9850    44.20    3.87           6.21              53
28        14865    31.23    7.67           2.93              65
29        21700    43.08    4.89           4.94              53
..          ...      ...     ...            ...             ...
164         535    27.83    9.55           2.32              72
165        1231    38.05    5.34           3.48              50
166        9511    16.71   25.32           1.93              82
167        7997    14.79   23.25           1.51              83
168       21890    35.35    6.09           3.04              75
169        8009    35.75    4.80           3.81              68
170       66785    18.47   13.96           1.43              74
171        2106    16.89   17.56           1.44              75
172        1114    46.33    5.16           6.11              64
173        6643    41.89    4.44           4.75              56
174         105    37.33    7.96           3.86              72
175        1337    20.73   13.18           1.80              71
176       10875    23.22   10.49           2.04              76
177       73997    26.00   10.56           2.08              76
178        5173    28.65    6.30           2.38              63
179          10    30.61    9.07            NaN              64
180       36346    48.54    3.72           6.06              56
181       45530    14.18   20.76           1.45              71
182        9206    14.41    0.81           1.84              76
183       62783    17.54   23.06           1.90              80
184       47783    44.85    4.89           5.36              59
185      318000    19.63   19.31           2.00              79
186        3395    22.05   18.59           2.07              77
187       28541    28.90    6.38           2.38              68
188         247    37.37    6.02           3.46              72
189       29955    28.84    9.17           2.44              75
190       90796    22.87    9.32           1.79              75
191       23852    40.72    4.54           4.35              64
192       14075    46.73    3.95           5.77              55
193       13724    40.24    5.68           3.64              54

     ChildMortality  CellularSubscribers  LiteracyRate      GNI  \
0              98.5                54.26           NaN   1140.0
1              16.7                96.39           NaN   8820.0
2              20.0                98.99           NaN   8310.0
3               3.2                75.49           NaN      NaN
4             163.5                48.38          70.1   5230.0
5               9.9               196.41          99.0  17900.0
6              14.2               134.92          97.8  17130.0
7              16.4               103.57          99.6   6100.0
8               4.9               108.34           NaN  38110.0
9               4.0               154.78           NaN  42050.0
10             35.2               108.75           NaN   8960.0
11             16.9                86.06           NaN      NaN
12              9.6               127.96          91.9      NaN
13             40.9                56.06          56.8   1940.0
14             18.4               127.01           NaN      NaN
15              5.2               111.88           NaN  14460.0
16              4.2               116.61           NaN  39190.0
17             18.3                69.96           NaN   6090.0
18             89.5                85.33          42.4   1620.0
19             44.6                65.58           NaN   5570.0
20             41.4                82.82           NaN   4890.0
21              6.7                84.52          97.9   9190.0
22             53.3               142.82          84.5  14550.0
23             14.4               124.26           NaN  11420.0
24              8.0               109.17          95.2      NaN
25             12.1               140.68           NaN  14160.0
26            102.4                45.27           NaN   1300.0
27            104.3                22.33          67.2    610.0
28             39.7                96.17           NaN   2230.0
29             94.9                52.35           NaN   2330.0
..              ...                  ...           ...      ...
164            20.8               178.88          94.7      NaN
165            79.7                63.70          87.4   5930.0
166             2.9               118.57           NaN  42200.0
167             4.3               131.43           NaN  52570.0
168            15.1                63.17          83.4      NaN
169            58.3                90.64          99.7   2300.0
170            13.2               111.63           NaN   8360.0
171             7.4               107.24          97.3  11090.0
172            56.7                53.23          58.3      NaN
173            95.5                50.45           NaN   1040.0
174            12.8                52.63           NaN   5000.0
175            20.7               135.64          98.8      NaN
176            16.1               116.93           NaN   9030.0
177            14.2                88.70           NaN  16940.0
178            52.8                68.77          99.6   8690.0
179            29.7                21.63           NaN      NaN
180            68.9                48.38          73.2   1310.0
181            10.7               122.98          99.7   7040.0
182             8.4               148.62           NaN  47890.0
183             4.8               130.75           NaN  36010.0
184            54.0                55.53          73.2   1500.0
185             7.1                92.72           NaN  48820.0
186             7.2               140.75          98.1  14640.0
187            39.6                91.65          99.4   3420.0
188            17.9                55.76          82.6   4330.0
189            15.3                97.78           NaN  12430.0
190            23.0               143.39          93.2   3250.0
191            60.0                47.05          63.9   2170.0
192            88.5                60.59          71.2   1490.0
193            89.8                72.13          92.2      NaN

     PrimarySchoolEnrollmentMale  PrimarySchoolEnrollmentFemale
0                            NaN                            NaN
1                            NaN                            NaN
2                           98.2                           96.4
3                           78.4                           79.4
4                           93.1                           78.2
5                           91.1                           84.5
6                            NaN                            NaN
7                            NaN                            NaN
8                           96.9                           97.5
9                            NaN                            NaN
10                          85.3                           84.1
11                           NaN                            NaN
12                           NaN                            NaN
13                           NaN                            NaN
14                           NaN                            NaN
15                           NaN                            NaN
16                          98.9                           99.2
17                           NaN                            NaN
18                           NaN                            NaN
19                          88.3                           91.5
20                          91.2                           91.5
21                          86.5                           88.4
22                           NaN                            NaN
23                           NaN                            NaN
24                           NaN                            NaN
25                          99.3                           99.7
26                          60.7                           55.9
27                           NaN                            NaN
28                          96.4                           95.4
29                          99.6                           87.4
..                           ...                            ...
164                          NaN                            NaN
165                          NaN                            NaN
166                         99.7                           99.0
167                         98.9                           99.5
168                          NaN                            NaN
169                         99.5                           96.0
170                          NaN                            NaN
171                         97.3                           99.2
172                         86.2                           85.6
173                          NaN                            NaN
174                          NaN                            NaN
175                         97.7                           97.0
176                          NaN                            NaN
177                         99.5                           98.3
178                          NaN                            NaN
179                          NaN                            NaN
180                         89.7                           92.3
181                         90.8                           91.5
182                          NaN                            NaN
183                         99.8                           99.6
184                          NaN                            NaN
185                         95.4                           96.1
186                          NaN                            NaN
187                         93.3                           91.0
188                          NaN                            NaN
189                         94.7                           95.1
190                          NaN                            NaN
191                         85.5                           70.5
192                         91.4                           93.9
193                          NaN                            NaN

[194 rows x 13 columns]

In [47]:
WHO.head()

,Country,Region,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
0,Afghanistan,Eastern Mediterranean,29825,47.42,3.82,5.40,60,98.5,54.26,NaN,1140.0,NaN,NaN
1,Albania,Europe,3162,21.33,14.93,1.75,74,16.7,96.39,NaN,8820.0,NaN,NaN
2,Algeria,Africa,38482,27.42,7.17,2.83,73,20.0,98.99,NaN,8310.0,98.2,96.4
3,Andorra,Europe,78,15.20,22.86,NaN,82,3.2,75.49,NaN,NaN,78.4,79.4
4,Angola,Africa,20821,47.58,3.84,6.10,51,163.5,48.38,70.1,5230.0,93.1,78.2

In [48]:
WHO.head(2)

,Country,Region,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
0,Afghanistan,Eastern Mediterranean,29825,47.42,3.82,5.40,60,98.5,54.26,NaN,1140.0,NaN,NaN
1,Albania,Europe,3162,21.33,14.93,1.75,74,16.7,96.39,NaN,8820.0,NaN,NaN

In [49]:
WHO.tail()

,Country,Region,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
189,Venezuela (Bolivarian Republic of),Americas,29955,28.84,9.17,2.44,75,15.3,97.78,NaN,12430.0,94.7,95.1
190,Viet Nam,Western Pacific,90796,22.87,9.32,1.79,75,23.0,143.39,93.2,3250.0,NaN,NaN
191,Yemen,Eastern Mediterranean,23852,40.72,4.54,4.35,64,60.0,47.05,63.9,2170.0,85.5,70.5
192,Zambia,Africa,14075,46.73,3.95,5.77,55,88.5,60.59,71.2,1490.0,91.4,93.9
193,Zimbabwe,Africa,13724,40.24,5.68,3.64,54,89.8,72.13,92.2,NaN,NaN,NaN

In [50]:
WHO.tail(2)

,Country,Region,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
192,Zambia,Africa,14075,46.73,3.95,5.77,55,88.5,60.59,71.2,1490.0,91.4,93.9
193,Zimbabwe,Africa,13724,40.24,5.68,3.64,54,89.8,72.13,92.2,NaN,NaN,NaN

In [51]:
#Shape of the Data Frame
WHO.shape

(194, 13)

In [52]:
rows,columns= WHO.shape

In [53]:
print(rows,columns)

194 13

In [54]:
print(rows)

194

In [55]:
print(columns)

13

In [56]:
#How To Get Variables Name List
WHO.columns

Index(['Country', 'Region', 'Population', 'Under15', 'Over60', 'FertilityRate',
       'LifeExpectancy', 'ChildMortality', 'CellularSubscribers',
       'LiteracyRate', 'GNI', 'PrimarySchoolEnrollmentMale',
       'PrimarySchoolEnrollmentFemale'],
      dtype='object')

In [57]:
#Slicing Subsets of Rows and Columns in Python
#Print Each Rows and Columns(Using Index)
WHO[:]

,Country,Region,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
0,Afghanistan,Eastern Mediterranean,29825,47.42,3.82,5.40,60,98.5,54.26,NaN,1140.0,NaN,NaN
1,Albania,Europe,3162,21.33,14.93,1.75,74,16.7,96.39,NaN,8820.0,NaN,NaN
2,Algeria,Africa,38482,27.42,7.17,2.83,73,20.0,98.99,NaN,8310.0,98.2,96.4
3,Andorra,Europe,78,15.20,22.86,NaN,82,3.2,75.49,NaN,NaN,78.4,79.4
4,Angola,Africa,20821,47.58,3.84,6.10,51,163.5,48.38,70.1,5230.0,93.1,78.2
5,Antigua and Barbuda,Americas,89,25.96,12.35,2.12,75,9.9,196.41,99.0,17900.0,91.1,84.5
6,Argentina,Americas,41087,24.42,14.97,2.20,76,14.2,134.92,97.8,17130.0,NaN,NaN
7,Armenia,Europe,2969,20.34,14.06,1.74,71,16.4,103.57,99.6,6100.0,NaN,NaN
8,Australia,Western Pacific,23050,18.95,19.46,1.89,82,4.9,108.34,NaN,38110.0,96.9,97.5
9,Austria,Europe,8464,14.51,23.52,1.44,81,4.0,154.78,NaN,42050.0,NaN,NaN
10,Azerbaijan,Europe,9309,22.25,8.24,1.96,71,35.2,108.75,NaN,8960.0,85.3,84.1
11,Bahamas,Americas,372,21.62,11.24,1.90,75,16.9,86.06,NaN,NaN,NaN,NaN
12,Bahrain,Eastern Mediterranean,1318,20.16,3.38,2.12,79,9.6,127.96,91.9,NaN,NaN,NaN
13,Bangladesh,South-East Asia,155000,30.57,6.89,2.24,70,40.9,56.06,56.8,1940.0,NaN,NaN
14,Barbados,Americas,283,18.99,15.78,1.84,78,18.4,127.01,NaN,NaN,NaN,NaN
15,Belarus,Europe,9405,15.10,19.31,1.47,71,5.2,111.88,NaN,14460.0,NaN,NaN
16,Belgium,Europe,11060,16.88,23.81,1.85,80,4.2,116.61,NaN,39190.0,98.9,99.2
17,Belize,Americas,324,34.40,5.74,2.76,74,18.3,69.96,NaN,6090.0,NaN,NaN
18,Benin,Africa,10051,42.95,4.54,5.01,57,89.5,85.33,42.4,1620.0,NaN,NaN
19,Bhutan,South-East Asia,742,28.53,6.90,2.32,67,44.6,65.58,NaN,5570.0,88.3,91.5
20,Bolivia (Plurinational State of),Americas,10496,35.23,7.28,3.31,67,41.4,82.82,NaN,4890.0,91.2,91.5
21,Bosnia and Herzegovina,Europe,3834,16.35,20.52,1.26,76,6.7,84.52,97.9,9190.0,86.5,88.4
22,Botswana,Africa,2004,33.75,5.63,2.71,66,53.3,142.82,84.5,14550.0,NaN,NaN
23,Brazil,Americas,199000,24.56,10.81,1.82,74,14.4,124.26,NaN,11420.0,NaN,NaN
24,Brunei Darussalam,Western Pacific,412,25.75,7.03,2.03,77,8.0,109.17,95.2,NaN,NaN,NaN
25,Bulgaria,Europe,7278,13.53,26.11,1.51,74,12.1,140.68,NaN,14160.0,99.3,99.7
26,Burkina Faso,Africa,16460,45.66,3.88,5.78,56,102.4,45.27,NaN,1300.0,60.7,55.9
27,Burundi,Africa,9850,44.20,3.87,6.21,53,104.3,22.33,67.2,610.0,NaN,NaN
28,Cambodia,Western Pacific,14865,31.23,7.67,2.93,65,39.7,96.17,NaN,2230.0,96.4,95.4
29,Cameroon,Africa,21700,43.08,4.89,4.94,53,94.9,52.35,NaN,2330.0,99.6,87.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,Suriname,Americas,535,27.83,9.55,2.32,72,20.8,178.88,94.7,NaN,NaN,NaN
165,Swaziland,Africa,1231,38.05,5.34,3.48,50,79.7,63.70,87.4,5930.0,NaN,NaN
166,Sweden,Europe,9511,16.71,25.32,1.93,82,2.9,118.57,NaN,42200.0,99.7,99.0
167,Switzerland,Europe,7997,14.79,23.25,1.51,83,4.3,131.43,NaN,52570.0,98.9,99.5
168,Syrian Arab Republic,Eastern Mediterranean,21890,35.35,6.09,3.04,75,15.1,63.17,83.4,NaN,NaN,NaN
169,Tajikistan,Europe,8009,35.75,4.80,3.81,68,58.3,90.64,99.7,2300.0,99.5,96.0
170,Thailand,South-East Asia,66785,18.47,13.96,1.43,74,13.2,111.63,NaN,8360.0,NaN,NaN
171,The former Yugoslav Republic of Macedonia,Europe,2106,16.89,17.56,1.44,75,7.4,107.24,97.3,11090.0,97.3,99.2
172,Timor-Leste,South-East Asia,1114,46.33,5.16,6.11,64,56.7,53.23,58.3,NaN,86.2,85.6
173,Togo,Africa,6643,41.89,4.44,4.75,56,95.5,50.45,NaN,1040.0,NaN,NaN
174,Tonga,Western Pacific,105,37.33,7.96,3.86,72,12.8,52.63,NaN,5000.0,NaN,NaN
175,Trinidad and Tobago,Americas,1337,20.73,13.18,1.80,71,20.7,135.64,98.8,NaN,97.7,97.0
176,Tunisia,Eastern Mediterranean,10875,23.22,10.49,2.04,76,16.1,116.93,NaN,9030.0,NaN,NaN
177,Turkey,Europe,73997,26.00,10.56,2.08,76,14.2,88.70,NaN,16940.0,99.5,98.3
178,Turkmenistan,Europe,5173,28.65,6.30,2.38,63,52.8,68.77,99.6,8690.0,NaN,NaN
179,Tuvalu,Western Pacific,10,30.61,9.07,NaN,64,29.7,21.63,NaN,NaN,NaN,NaN
180,Uganda,Africa,36346,48.54,3.72,6.06,56,68.9,48.38,73.2,1310.0,89.7,92.3
181,Ukraine,Europe,45530,14.18,20.76,1.45,71,10.7,122.98,99.7,7040.0,90.8,91.5
182,United Arab Emirates,Eastern Mediterranean,9206,14.41,0.81,1.84,76,8.4,148.62,NaN,47890.0,NaN,NaN
183,United Kingdom,Europe,62783,17.54,23.06,1.90,80,4.8,130.75,NaN,36010.0,99.8,99.6
184,United Republic of Tanzania,Africa,47783,44.85,4.89,5.36,59,54.0,55.53,73.2,1500.0,NaN,NaN
185,United States of America,Americas,318000,19.63,19.31,2.00,79,7.1,92.72,NaN,48820.0,95.4,96.1
186,Uruguay,Americas,3395,22.05,18.59,2.07,77,7.2,140.75,98.1,14640.0,NaN,NaN
187,Uzbekistan,Europe,28541,28.90,6.38,2.38,68,39.6,91.65,99.4,3420.0,93.3,91.0
188,Vanuatu,Western Pacific,247,37.37,6.02,3.46,72,17.9,55.76,82.6,4330.0,NaN,NaN
189,Venezuela (Bolivarian Republic of),Americas,29955,28.84,9.17,2.44,75,15.3,97.78,NaN,12430.0,94.7,95.1
190,Viet Nam,Western Pacific,90796,22.87,9.32,1.79,75,23.0,143.39,93.2,3250.0,NaN,NaN
191,Yemen,Eastern Mediterranean,23852,40.72,4.54,4.35,64,60.0,47.05,63.9,2170.0,85.5,70.5
192,Zambia,Africa,14075,46.73,3.95,5.77,55,88.5,60.59,71.2,1490.0,91.4,93.9
193,Zimbabwe,Africa,13724,40.24,5.68,3.64,54,89.8,72.13,92.2,NaN,NaN,NaN

In [58]:
#Print Specific Rows(Using Index)
WHO[10:14]

,Country,Region,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
10,Azerbaijan,Europe,9309,22.25,8.24,1.96,71,35.2,108.75,NaN,8960.0,85.3,84.1
11,Bahamas,Americas,372,21.62,11.24,1.90,75,16.9,86.06,NaN,NaN,NaN,NaN
12,Bahrain,Eastern Mediterranean,1318,20.16,3.38,2.12,79,9.6,127.96,91.9,NaN,NaN,NaN
13,Bangladesh,South-East Asia,155000,30.57,6.89,2.24,70,40.9,56.06,56.8,1940.0,NaN,NaN

In [59]:
#Print Specific Columns(Using Index)
WHO.iloc[:,1:4]

                    Region  Population  Under15
0    Eastern Mediterranean       29825    47.42
1                   Europe        3162    21.33
2                   Africa       38482    27.42
3                   Europe          78    15.20
4                   Africa       20821    47.58
5                 Americas          89    25.96
6                 Americas       41087    24.42
7                   Europe        2969    20.34
8          Western Pacific       23050    18.95
9                   Europe        8464    14.51
10                  Europe        9309    22.25
11                Americas         372    21.62
12   Eastern Mediterranean        1318    20.16
13         South-East Asia      155000    30.57
14                Americas         283    18.99
15                  Europe        9405    15.10
16                  Europe       11060    16.88
17                Americas         324    34.40
18                  Africa       10051    42.95
19         South-East Asia         742    28.53
20                Americas       10496    35.23
21                  Europe        3834    16.35
22                  Africa        2004    33.75
23                Americas      199000    24.56
24         Western Pacific         412    25.75
25                  Europe        7278    13.53
26                  Africa       16460    45.66
27                  Africa        9850    44.20
28         Western Pacific       14865    31.23
29                  Africa       21700    43.08
..                     ...         ...      ...
164               Americas         535    27.83
165                 Africa        1231    38.05
166                 Europe        9511    16.71
167                 Europe        7997    14.79
168  Eastern Mediterranean       21890    35.35
169                 Europe        8009    35.75
170        South-East Asia       66785    18.47
171                 Europe        2106    16.89
172        South-East Asia        1114    46.33
173                 Africa        6643    41.89
174        Western Pacific         105    37.33
175               Americas        1337    20.73
176  Eastern Mediterranean       10875    23.22
177                 Europe       73997    26.00
178                 Europe        5173    28.65
179        Western Pacific          10    30.61
180                 Africa       36346    48.54
181                 Europe       45530    14.18
182  Eastern Mediterranean        9206    14.41
183                 Europe       62783    17.54
184                 Africa       47783    44.85
185               Americas      318000    19.63
186               Americas        3395    22.05
187                 Europe       28541    28.90
188        Western Pacific         247    37.37
189               Americas       29955    28.84
190        Western Pacific       90796    22.87
191  Eastern Mediterranean       23852    40.72
192                 Africa       14075    46.73
193                 Africa       13724    40.24

[194 rows x 3 columns]

In [60]:
#Print Specific Rows and Columns (Using Index)
WHO.iloc[14:25, 1:4]

             Region  Population  Under15
14         Americas         283    18.99
15           Europe        9405    15.10
16           Europe       11060    16.88
17         Americas         324    34.40
18           Africa       10051    42.95
19  South-East Asia         742    28.53
20         Americas       10496    35.23
21           Europe        3834    16.35
22           Africa        2004    33.75
23         Americas      199000    24.56
24  Western Pacific         412    25.75

In [61]:
#Print Specific Column(Using Variable Name)
WHO.Country

0                                    Afghanistan
1                                        Albania
2                                        Algeria
3                                        Andorra
4                                         Angola
5                            Antigua and Barbuda
6                                      Argentina
7                                        Armenia
8                                      Australia
9                                        Austria
10                                    Azerbaijan
11                                       Bahamas
12                                       Bahrain
13                                    Bangladesh
14                                      Barbados
15                                       Belarus
16                                       Belgium
17                                        Belize
18                                         Benin
19                                        Bhutan
20              Bolivia (Plurinational State of)
21                        Bosnia and Herzegovina
22                                      Botswana
23                                        Brazil
24                             Brunei Darussalam
25                                      Bulgaria
26                                  Burkina Faso
27                                       Burundi
28                                      Cambodia
29                                      Cameroon
                         ...
164                                     Suriname
165                                    Swaziland
166                                       Sweden
167                                  Switzerland
168                         Syrian Arab Republic
169                                   Tajikistan
170                                     Thailand
171    The former Yugoslav Republic of Macedonia
172                                  Timor-Leste
173                                         Togo
174                                        Tonga
175                          Trinidad and Tobago
176                                      Tunisia
177                                       Turkey
178                                 Turkmenistan
179                                       Tuvalu
180                                       Uganda
181                                      Ukraine
182                         United Arab Emirates
183                               United Kingdom
184                  United Republic of Tanzania
185                     United States of America
186                                      Uruguay
187                                   Uzbekistan
188                                      Vanuatu
189           Venezuela (Bolivarian Republic of)
190                                     Viet Nam
191                                        Yemen
192                                       Zambia
193                                     Zimbabwe
Name: Country, Length: 194, dtype: object

In [62]:
WHO['Country']

0                                    Afghanistan
1                                        Albania
2                                        Algeria
3                                        Andorra
4                                         Angola
5                            Antigua and Barbuda
6                                      Argentina
7                                        Armenia
8                                      Australia
9                                        Austria
10                                    Azerbaijan
11                                       Bahamas
12                                       Bahrain
13                                    Bangladesh
14                                      Barbados
15                                       Belarus
16                                       Belgium
17                                        Belize
18                                         Benin
19                                        Bhutan
20              Bolivia (Plurinational State of)
21                        Bosnia and Herzegovina
22                                      Botswana
23                                        Brazil
24                             Brunei Darussalam
25                                      Bulgaria
26                                  Burkina Faso
27                                       Burundi
28                                      Cambodia
29                                      Cameroon
                         ...
164                                     Suriname
165                                    Swaziland
166                                       Sweden
167                                  Switzerland
168                         Syrian Arab Republic
169                                   Tajikistan
170                                     Thailand
171    The former Yugoslav Republic of Macedonia
172                                  Timor-Leste
173                                         Togo
174                                        Tonga
175                          Trinidad and Tobago
176                                      Tunisia
177                                       Turkey
178                                 Turkmenistan
179                                       Tuvalu
180                                       Uganda
181                                      Ukraine
182                         United Arab Emirates
183                               United Kingdom
184                  United Republic of Tanzania
185                     United States of America
186                                      Uruguay
187                                   Uzbekistan
188                                      Vanuatu
189           Venezuela (Bolivarian Republic of)
190                                     Viet Nam
191                                        Yemen
192                                       Zambia
193                                     Zimbabwe
Name: Country, Length: 194, dtype: object

In [63]:
#Print Specific Columns(Using Variable Name)
WHO[['Country', 'Region', 'Population']]

,Country,Region,Population
0,Afghanistan,Eastern Mediterranean,29825
1,Albania,Europe,3162
2,Algeria,Africa,38482
3,Andorra,Europe,78
4,Angola,Africa,20821
5,Antigua and Barbuda,Americas,89
6,Argentina,Americas,41087
7,Armenia,Europe,2969
8,Australia,Western Pacific,23050
9,Austria,Europe,8464
10,Azerbaijan,Europe,9309
11,Bahamas,Americas,372
12,Bahrain,Eastern Mediterranean,1318
13,Bangladesh,South-East Asia,155000
14,Barbados,Americas,283
15,Belarus,Europe,9405
16,Belgium,Europe,11060
17,Belize,Americas,324
18,Benin,Africa,10051
19,Bhutan,South-East Asia,742
20,Bolivia (Plurinational State of),Americas,10496
21,Bosnia and Herzegovina,Europe,3834
22,Botswana,Africa,2004
23,Brazil,Americas,199000
24,Brunei Darussalam,Western Pacific,412
25,Bulgaria,Europe,7278
26,Burkina Faso,Africa,16460
27,Burundi,Africa,9850
28,Cambodia,Western Pacific,14865
29,Cameroon,Africa,21700
...,...,...,...
164,Suriname,Americas,535
165,Swaziland,Africa,1231
166,Sweden,Europe,9511
167,Switzerland,Europe,7997
168,Syrian Arab Republic,Eastern Mediterranean,21890
169,Tajikistan,Europe,8009
170,Thailand,South-East Asia,66785
171,The former Yugoslav Republic of Macedonia,Europe,2106
172,Timor-Leste,South-East Asia,1114
173,Togo,Africa,6643
174,Tonga,Western Pacific,105
175,Trinidad and Tobago,Americas,1337
176,Tunisia,Eastern Mediterranean,10875
177,Turkey,Europe,73997
178,Turkmenistan,Europe,5173
179,Tuvalu,Western Pacific,10
180,Uganda,Africa,36346
181,Ukraine,Europe,45530
182,United Arab Emirates,Eastern Mediterranean,9206
183,United Kingdom,Europe,62783
184,United Republic of Tanzania,Africa,47783
185,United States of America,Americas,318000
186,Uruguay,Americas,3395
187,Uzbekistan,Europe,28541
188,Vanuatu,Western Pacific,247
189,Venezuela (Bolivarian Republic of),Americas,29955
190,Viet Nam,Western Pacific,90796
191,Yemen,Eastern Mediterranean,23852
192,Zambia,Africa,14075
193,Zimbabwe,Africa,13724

In [64]:
#Print Specific Rows and Columns(Using Variable Name)
WHO.loc[1:4,['Country', 'Region', 'Population']]

   Country  Region  Population
1  Albania  Europe        3162
2  Algeria  Africa       38482
3  Andorra  Europe          78
4   Angola  Africa       20821

In [65]:
WHO.loc[[2,4,50,52],['Country', 'Region', 'Population']]

     Country    Region  Population
2    Algeria    Africa       38482
4     Angola    Africa       20821
50  Dominica  Americas          72
52   Ecuador  Americas       15492

In [66]:
#Summary of the Data Frame
#1-Find Max Population
WHO['Population'].max()

1390000

In [67]:
#2-Find Min Population
WHO['Population'].min()

1

In [68]:
#3-Find Standard Deviation Population
WHO['Population'].std()

137903.14124139037

In [69]:
#4-Find Mean Population
WHO['Population'].mean()

36359.97422680412

In [70]:
#Describe
WHO.describe()

,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
count,1.940000e+02,194.000000,194.000000,183.000000,194.000000,194.000000,184.000000,103.000000,162.000000,101.000000,101.000000
mean,3.635997e+04,28.732423,11.163660,2.940656,70.010309,36.148969,93.641522,83.710680,13320.925926,90.850495,89.632673
std,1.379031e+05,10.534573,7.149331,1.480984,9.259075,37.992935,41.400447,17.530645,15192.988650,11.017147,12.817614
min,1.000000e+00,13.120000,0.810000,1.260000,47.000000,2.200000,2.570000,31.100000,340.000000,37.200000,32.500000
25%,1.695750e+03,18.717500,5.200000,1.835000,64.000000,8.425000,63.567500,71.600000,2335.000000,87.700000,87.300000
50%,7.790000e+03,28.650000,8.530000,2.400000,72.500000,18.600000,97.745000,91.800000,7870.000000,94.700000,95.100000
75%,2.453525e+04,37.752500,16.687500,3.905000,76.000000,55.975000,120.805000,97.850000,17557.500000,98.100000,97.900000
max,1.390000e+06,49.990000,31.920000,7.580000,83.000000,181.600000,196.410000,99.800000,86440.000000,100.000000,100.000000

In [71]:
#Subset Operation
WHO[WHO.Population>360000]

,Country,Region,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
35,China,Western Pacific,1390000,17.95,13.42,1.66,76,14.0,73.19,94.3,8390.0,NaN,NaN
77,India,South-East Asia,1240000,29.43,8.10,2.53,65,56.3,72.00,NaN,3590.0,NaN,NaN

In [72]:
#Max Population Data Frame
WHO[WHO.Population==WHO.Population.max()]

,Country,Region,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
35,China,Western Pacific,1390000,17.95,13.42,1.66,76,14.0,73.19,94.3,8390.0,NaN,NaN

In [73]:
WHO[WHO.Population==WHO['Population'].max()]

,Country,Region,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
35,China,Western Pacific,1390000,17.95,13.42,1.66,76,14.0,73.19,94.3,8390.0,NaN,NaN

In [74]:
#Max Population Data Frame (Specific Columns)
WHO[['Region','CellularSubscribers','Population']][WHO.Population==
WHO['Population'].max()]

             Region  CellularSubscribers  Population
35  Western Pacific                73.19     1390000

In [75]:
#Index of the Data Frame
WHO.index

RangeIndex(start=0, stop=194, step=1)

In [76]:
print(WHO)

                                       Country                 Region  \
0                                  Afghanistan  Eastern Mediterranean
1                                      Albania                 Europe
2                                      Algeria                 Africa
3                                      Andorra                 Europe
4                                       Angola                 Africa
5                          Antigua and Barbuda               Americas
6                                    Argentina               Americas
7                                      Armenia                 Europe
8                                    Australia        Western Pacific
9                                      Austria                 Europe
10                                  Azerbaijan                 Europe
11                                     Bahamas               Americas
12                                     Bahrain  Eastern Mediterranean
13                                  Bangladesh        South-East Asia
14                                    Barbados               Americas
15                                     Belarus                 Europe
16                                     Belgium                 Europe
17                                      Belize               Americas
18                                       Benin                 Africa
19                                      Bhutan        South-East Asia
20            Bolivia (Plurinational State of)               Americas
21                      Bosnia and Herzegovina                 Europe
22                                    Botswana                 Africa
23                                      Brazil               Americas
24                           Brunei Darussalam        Western Pacific
25                                    Bulgaria                 Europe
26                                Burkina Faso                 Africa
27                                     Burundi                 Africa
28                                    Cambodia        Western Pacific
29                                    Cameroon                 Africa
..                                         ...                    ...
164                                   Suriname               Americas
165                                  Swaziland                 Africa
166                                     Sweden                 Europe
167                                Switzerland                 Europe
168                       Syrian Arab Republic  Eastern Mediterranean
169                                 Tajikistan                 Europe
170                                   Thailand        South-East Asia
171  The former Yugoslav Republic of Macedonia                 Europe
172                                Timor-Leste        South-East Asia
173                                       Togo                 Africa
174                                      Tonga        Western Pacific
175                        Trinidad and Tobago               Americas
176                                    Tunisia  Eastern Mediterranean
177                                     Turkey                 Europe
178                               Turkmenistan                 Europe
179                                     Tuvalu        Western Pacific
180                                     Uganda                 Africa
181                                    Ukraine                 Europe
182                       United Arab Emirates  Eastern Mediterranean
183                             United Kingdom                 Europe
184                United Republic of Tanzania                 Africa
185                   United States of America               Americas
186                                    Uruguay               Americas
187                                 Uzbekistan                 Europe
188                                    Vanuatu        Western Pacific
189         Venezuela (Bolivarian Republic of)               Americas
190                                   Viet Nam        Western Pacific
191                                      Yemen  Eastern Mediterranean
192                                     Zambia                 Africa
193                                   Zimbabwe                 Africa

     Population  Under15  Over60  FertilityRate  LifeExpectancy  \
0         29825    47.42    3.82           5.40              60
1          3162    21.33   14.93           1.75              74
2         38482    27.42    7.17           2.83              73
3            78    15.20   22.86            NaN              82
4         20821    47.58    3.84           6.10              51
5            89    25.96   12.35           2.12              75
6         41087    24.42   14.97           2.20              76
7          2969    20.34   14.06           1.74              71
8         23050    18.95   19.46           1.89              82
9          8464    14.51   23.52           1.44              81
10         9309    22.25    8.24           1.96              71
11          372    21.62   11.24           1.90              75
12         1318    20.16    3.38           2.12              79
13       155000    30.57    6.89           2.24              70
14          283    18.99   15.78           1.84              78
15         9405    15.10   19.31           1.47              71
16        11060    16.88   23.81           1.85              80
17          324    34.40    5.74           2.76              74
18        10051    42.95    4.54           5.01              57
19          742    28.53    6.90           2.32              67
20        10496    35.23    7.28           3.31              67
21         3834    16.35   20.52           1.26              76
22         2004    33.75    5.63           2.71              66
23       199000    24.56   10.81           1.82              74
24          412    25.75    7.03           2.03              77
25         7278    13.53   26.11           1.51              74
26        16460    45.66    3.88           5.78              56
27         9850    44.20    3.87           6.21              53
28        14865    31.23    7.67           2.93              65
29        21700    43.08    4.89           4.94              53
..          ...      ...     ...            ...             ...
164         535    27.83    9.55           2.32              72
165        1231    38.05    5.34           3.48              50
166        9511    16.71   25.32           1.93              82
167        7997    14.79   23.25           1.51              83
168       21890    35.35    6.09           3.04              75
169        8009    35.75    4.80           3.81              68
170       66785    18.47   13.96           1.43              74
171        2106    16.89   17.56           1.44              75
172        1114    46.33    5.16           6.11              64
173        6643    41.89    4.44           4.75              56
174         105    37.33    7.96           3.86              72
175        1337    20.73   13.18           1.80              71
176       10875    23.22   10.49           2.04              76
177       73997    26.00   10.56           2.08              76
178        5173    28.65    6.30           2.38              63
179          10    30.61    9.07            NaN              64
180       36346    48.54    3.72           6.06              56
181       45530    14.18   20.76           1.45              71
182        9206    14.41    0.81           1.84              76
183       62783    17.54   23.06           1.90              80
184       47783    44.85    4.89           5.36              59
185      318000    19.63   19.31           2.00              79
186        3395    22.05   18.59           2.07              77
187       28541    28.90    6.38           2.38              68
188         247    37.37    6.02           3.46              72
189       29955    28.84    9.17           2.44              75
190       90796    22.87    9.32           1.79              75
191       23852    40.72    4.54           4.35              64
192       14075    46.73    3.95           5.77              55
193       13724    40.24    5.68           3.64              54

     ChildMortality  CellularSubscribers  LiteracyRate      GNI  \
0              98.5                54.26           NaN   1140.0
1              16.7                96.39           NaN   8820.0
2              20.0                98.99           NaN   8310.0
3               3.2                75.49           NaN      NaN
4             163.5                48.38          70.1   5230.0
5               9.9               196.41          99.0  17900.0
6              14.2               134.92          97.8  17130.0
7              16.4               103.57          99.6   6100.0
8               4.9               108.34           NaN  38110.0
9               4.0               154.78           NaN  42050.0
10             35.2               108.75           NaN   8960.0
11             16.9                86.06           NaN      NaN
12              9.6               127.96          91.9      NaN
13             40.9                56.06          56.8   1940.0
14             18.4               127.01           NaN      NaN
15              5.2               111.88           NaN  14460.0
16              4.2               116.61           NaN  39190.0
17             18.3                69.96           NaN   6090.0
18             89.5                85.33          42.4   1620.0
19             44.6                65.58           NaN   5570.0
20             41.4                82.82           NaN   4890.0
21              6.7                84.52          97.9   9190.0
22             53.3               142.82          84.5  14550.0
23             14.4               124.26           NaN  11420.0
24              8.0               109.17          95.2      NaN
25             12.1               140.68           NaN  14160.0
26            102.4                45.27           NaN   1300.0
27            104.3                22.33          67.2    610.0
28             39.7                96.17           NaN   2230.0
29             94.9                52.35           NaN   2330.0
..              ...                  ...           ...      ...
164            20.8               178.88          94.7      NaN
165            79.7                63.70          87.4   5930.0
166             2.9               118.57           NaN  42200.0
167             4.3               131.43           NaN  52570.0
168            15.1                63.17          83.4      NaN
169            58.3                90.64          99.7   2300.0
170            13.2               111.63           NaN   8360.0
171             7.4               107.24          97.3  11090.0
172            56.7                53.23          58.3      NaN
173            95.5                50.45           NaN   1040.0
174            12.8                52.63           NaN   5000.0
175            20.7               135.64          98.8      NaN
176            16.1               116.93           NaN   9030.0
177            14.2                88.70           NaN  16940.0
178            52.8                68.77          99.6   8690.0
179            29.7                21.63           NaN      NaN
180            68.9                48.38          73.2   1310.0
181            10.7               122.98          99.7   7040.0
182             8.4               148.62           NaN  47890.0
183             4.8               130.75           NaN  36010.0
184            54.0                55.53          73.2   1500.0
185             7.1                92.72           NaN  48820.0
186             7.2               140.75          98.1  14640.0
187            39.6                91.65          99.4   3420.0
188            17.9                55.76          82.6   4330.0
189            15.3                97.78           NaN  12430.0
190            23.0               143.39          93.2   3250.0
191            60.0                47.05          63.9   2170.0
192            88.5                60.59          71.2   1490.0
193            89.8                72.13          92.2      NaN

     PrimarySchoolEnrollmentMale  PrimarySchoolEnrollmentFemale
0                            NaN                            NaN
1                            NaN                            NaN
2                           98.2                           96.4
3                           78.4                           79.4
4                           93.1                           78.2
5                           91.1                           84.5
6                            NaN                            NaN
7                            NaN                            NaN
8                           96.9                           97.5
9                            NaN                            NaN
10                          85.3                           84.1
11                           NaN                            NaN
12                           NaN                            NaN
13                           NaN                            NaN
14                           NaN                            NaN
15                           NaN                            NaN
16                          98.9                           99.2
17                           NaN                            NaN
18                           NaN                            NaN
19                          88.3                           91.5
20                          91.2                           91.5
21                          86.5                           88.4
22                           NaN                            NaN
23                           NaN                            NaN
24                           NaN                            NaN
25                          99.3                           99.7
26                          60.7                           55.9
27                           NaN                            NaN
28                          96.4                           95.4
29                          99.6                           87.4
..                           ...                            ...
164                          NaN                            NaN
165                          NaN                            NaN
166                         99.7                           99.0
167                         98.9                           99.5
168                          NaN                            NaN
169                         99.5                           96.0
170                          NaN                            NaN
171                         97.3                           99.2
172                         86.2                           85.6
173                          NaN                            NaN
174                          NaN                            NaN
175                         97.7                           97.0
176                          NaN                            NaN
177                         99.5                           98.3
178                          NaN                            NaN
179                          NaN                            NaN
180                         89.7                           92.3
181                         90.8                           91.5
182                          NaN                            NaN
183                         99.8                           99.6
184                          NaN                            NaN
185                         95.4                           96.1
186                          NaN                            NaN
187                         93.3                           91.0
188                          NaN                            NaN
189                         94.7                           95.1
190                          NaN                            NaN
191                         85.5                           70.5
192                         91.4                           93.9
193                          NaN                            NaN

[194 rows x 13 columns]

In [77]:
#Set Index to Specfic Column
WHO.set_index('Country',inplace=True)

In [78]:
print(WHO)

                                                          Region  Population  \
Country
Afghanistan                                Eastern Mediterranean       29825
Albania                                                   Europe        3162
Algeria                                                   Africa       38482
Andorra                                                   Europe          78
Angola                                                    Africa       20821
Antigua and Barbuda                                     Americas          89
Argentina                                               Americas       41087
Armenia                                                   Europe        2969
Australia                                        Western Pacific       23050
Austria                                                   Europe        8464
Azerbaijan                                                Europe        9309
Bahamas                                                 Americas         372
Bahrain                                    Eastern Mediterranean        1318
Bangladesh                                       South-East Asia      155000
Barbados                                                Americas         283
Belarus                                                   Europe        9405
Belgium                                                   Europe       11060
Belize                                                  Americas         324
Benin                                                     Africa       10051
Bhutan                                           South-East Asia         742
Bolivia (Plurinational State of)                        Americas       10496
Bosnia and Herzegovina                                    Europe        3834
Botswana                                                  Africa        2004
Brazil                                                  Americas      199000
Brunei Darussalam                                Western Pacific         412
Bulgaria                                                  Europe        7278
Burkina Faso                                              Africa       16460
Burundi                                                   Africa        9850
Cambodia                                         Western Pacific       14865
Cameroon                                                  Africa       21700
...                                                          ...         ...
Suriname                                                Americas         535
Swaziland                                                 Africa        1231
Sweden                                                    Europe        9511
Switzerland                                               Europe        7997
Syrian Arab Republic                       Eastern Mediterranean       21890
Tajikistan                                                Europe        8009
Thailand                                         South-East Asia       66785
The former Yugoslav Republic of Macedonia                 Europe        2106
Timor-Leste                                      South-East Asia        1114
Togo                                                      Africa        6643
Tonga                                            Western Pacific         105
Trinidad and Tobago                                     Americas        1337
Tunisia                                    Eastern Mediterranean       10875
Turkey                                                    Europe       73997
Turkmenistan                                              Europe        5173
Tuvalu                                           Western Pacific          10
Uganda                                                    Africa       36346
Ukraine                                                   Europe       45530
United Arab Emirates                       Eastern Mediterranean        9206
United Kingdom                                            Europe       62783
United Republic of Tanzania                               Africa       47783
United States of America                                Americas      318000
Uruguay                                                 Americas        3395
Uzbekistan                                                Europe       28541
Vanuatu                                          Western Pacific         247
Venezuela (Bolivarian Republic of)                      Americas       29955
Viet Nam                                         Western Pacific       90796
Yemen                                      Eastern Mediterranean       23852
Zambia                                                    Africa       14075
Zimbabwe                                                  Africa       13724

                                           Under15  Over60  FertilityRate  \
Country
Afghanistan                                  47.42    3.82           5.40
Albania                                      21.33   14.93           1.75
Algeria                                      27.42    7.17           2.83
Andorra                                      15.20   22.86            NaN
Angola                                       47.58    3.84           6.10
Antigua and Barbuda                          25.96   12.35           2.12
Argentina                                    24.42   14.97           2.20
Armenia                                      20.34   14.06           1.74
Australia                                    18.95   19.46           1.89
Austria                                      14.51   23.52           1.44
Azerbaijan                                   22.25    8.24           1.96
Bahamas                                      21.62   11.24           1.90
Bahrain                                      20.16    3.38           2.12
Bangladesh                                   30.57    6.89           2.24
Barbados                                     18.99   15.78           1.84
Belarus                                      15.10   19.31           1.47
Belgium                                      16.88   23.81           1.85
Belize                                       34.40    5.74           2.76
Benin                                        42.95    4.54           5.01
Bhutan                                       28.53    6.90           2.32
Bolivia (Plurinational State of)             35.23    7.28           3.31
Bosnia and Herzegovina                       16.35   20.52           1.26
Botswana                                     33.75    5.63           2.71
Brazil                                       24.56   10.81           1.82
Brunei Darussalam                            25.75    7.03           2.03
Bulgaria                                     13.53   26.11           1.51
Burkina Faso                                 45.66    3.88           5.78
Burundi                                      44.20    3.87           6.21
Cambodia                                     31.23    7.67           2.93
Cameroon                                     43.08    4.89           4.94
...                                            ...     ...            ...
Suriname                                     27.83    9.55           2.32
Swaziland                                    38.05    5.34           3.48
Sweden                                       16.71   25.32           1.93
Switzerland                                  14.79   23.25           1.51
Syrian Arab Republic                         35.35    6.09           3.04
Tajikistan                                   35.75    4.80           3.81
Thailand                                     18.47   13.96           1.43
The former Yugoslav Republic of Macedonia    16.89   17.56           1.44
Timor-Leste                                  46.33    5.16           6.11
Togo                                         41.89    4.44           4.75
Tonga                                        37.33    7.96           3.86
Trinidad and Tobago                          20.73   13.18           1.80
Tunisia                                      23.22   10.49           2.04
Turkey                                       26.00   10.56           2.08
Turkmenistan                                 28.65    6.30           2.38
Tuvalu                                       30.61    9.07            NaN
Uganda                                       48.54    3.72           6.06
Ukraine                                      14.18   20.76           1.45
United Arab Emirates                         14.41    0.81           1.84
United Kingdom                               17.54   23.06           1.90
United Republic of Tanzania                  44.85    4.89           5.36
United States of America                     19.63   19.31           2.00
Uruguay                                      22.05   18.59           2.07
Uzbekistan                                   28.90    6.38           2.38
Vanuatu                                      37.37    6.02           3.46
Venezuela (Bolivarian Republic of)           28.84    9.17           2.44
Viet Nam                                     22.87    9.32           1.79
Yemen                                        40.72    4.54           4.35
Zambia                                       46.73    3.95           5.77
Zimbabwe                                     40.24    5.68           3.64

                                           LifeExpectancy  ChildMortality  \
Country
Afghanistan                                            60            98.5
Albania                                                74            16.7
Algeria                                                73            20.0
Andorra                                                82             3.2
Angola                                                 51           163.5
Antigua and Barbuda                                    75             9.9
Argentina                                              76            14.2
Armenia                                                71            16.4
Australia                                              82             4.9
Austria                                                81             4.0
Azerbaijan                                             71            35.2
Bahamas                                                75            16.9
Bahrain                                                79             9.6
Bangladesh                                             70            40.9
Barbados                                               78            18.4
Belarus                                                71             5.2
Belgium                                                80             4.2
Belize                                                 74            18.3
Benin                                                  57            89.5
Bhutan                                                 67            44.6
Bolivia (Plurinational State of)                       67            41.4
Bosnia and Herzegovina                                 76             6.7
Botswana                                               66            53.3
Brazil                                                 74            14.4
Brunei Darussalam                                      77             8.0
Bulgaria                                               74            12.1
Burkina Faso                                           56           102.4
Burundi                                                53           104.3
Cambodia                                               65            39.7
Cameroon                                               53            94.9
...                                                   ...             ...
Suriname                                               72            20.8
Swaziland                                              50            79.7
Sweden                                                 82             2.9
Switzerland                                            83             4.3
Syrian Arab Republic                                   75            15.1
Tajikistan                                             68            58.3
Thailand                                               74            13.2
The former Yugoslav Republic of Macedonia              75             7.4
Timor-Leste                                            64            56.7
Togo                                                   56            95.5
Tonga                                                  72            12.8
Trinidad and Tobago                                    71            20.7
Tunisia                                                76            16.1
Turkey                                                 76            14.2
Turkmenistan                                           63            52.8
Tuvalu                                                 64            29.7
Uganda                                                 56            68.9
Ukraine                                                71            10.7
United Arab Emirates                                   76             8.4
United Kingdom                                         80             4.8
United Republic of Tanzania                            59            54.0
United States of America                               79             7.1
Uruguay                                                77             7.2
Uzbekistan                                             68            39.6
Vanuatu                                                72            17.9
Venezuela (Bolivarian Republic of)                     75            15.3
Viet Nam                                               75            23.0
Yemen                                                  64            60.0
Zambia                                                 55            88.5
Zimbabwe                                               54            89.8

                                           CellularSubscribers  LiteracyRate  \
Country
Afghanistan                                              54.26           NaN
Albania                                                  96.39           NaN
Algeria                                                  98.99           NaN
Andorra                                                  75.49           NaN
Angola                                                   48.38          70.1
Antigua and Barbuda                                     196.41          99.0
Argentina                                               134.92          97.8
Armenia                                                 103.57          99.6
Australia                                               108.34           NaN
Austria                                                 154.78           NaN
Azerbaijan                                              108.75           NaN
Bahamas                                                  86.06           NaN
Bahrain                                                 127.96          91.9
Bangladesh                                               56.06          56.8
Barbados                                                127.01           NaN
Belarus                                                 111.88           NaN
Belgium                                                 116.61           NaN
Belize                                                   69.96           NaN
Benin                                                    85.33          42.4
Bhutan                                                   65.58           NaN
Bolivia (Plurinational State of)                         82.82           NaN
Bosnia and Herzegovina                                   84.52          97.9
Botswana                                                142.82          84.5
Brazil                                                  124.26           NaN
Brunei Darussalam                                       109.17          95.2
Bulgaria                                                140.68           NaN
Burkina Faso                                             45.27           NaN
Burundi                                                  22.33          67.2
Cambodia                                                 96.17           NaN
Cameroon                                                 52.35           NaN
...                                                        ...           ...
Suriname                                                178.88          94.7
Swaziland                                                63.70          87.4
Sweden                                                  118.57           NaN
Switzerland                                             131.43           NaN
Syrian Arab Republic                                     63.17          83.4
Tajikistan                                               90.64          99.7
Thailand                                                111.63           NaN
The former Yugoslav Republic of Macedonia               107.24          97.3
Timor-Leste                                              53.23          58.3
Togo                                                     50.45           NaN
Tonga                                                    52.63           NaN
Trinidad and Tobago                                     135.64          98.8
Tunisia                                                 116.93           NaN
Turkey                                                   88.70           NaN
Turkmenistan                                             68.77          99.6
Tuvalu                                                   21.63           NaN
Uganda                                                   48.38          73.2
Ukraine                                                 122.98          99.7
United Arab Emirates                                    148.62           NaN
United Kingdom                                          130.75           NaN
United Republic of Tanzania                              55.53          73.2
United States of America                                 92.72           NaN
Uruguay                                                 140.75          98.1
Uzbekistan                                               91.65          99.4
Vanuatu                                                  55.76          82.6
Venezuela (Bolivarian Republic of)                       97.78           NaN
Viet Nam                                                143.39          93.2
Yemen                                                    47.05          63.9
Zambia                                                   60.59          71.2
Zimbabwe                                                 72.13          92.2

                                               GNI  \
Country
Afghanistan                                 1140.0
Albania                                     8820.0
Algeria                                     8310.0
Andorra                                        NaN
Angola                                      5230.0
Antigua and Barbuda                        17900.0
Argentina                                  17130.0
Armenia                                     6100.0
Australia                                  38110.0
Austria                                    42050.0
Azerbaijan                                  8960.0
Bahamas                                        NaN
Bahrain                                        NaN
Bangladesh                                  1940.0
Barbados                                       NaN
Belarus                                    14460.0
Belgium                                    39190.0
Belize                                      6090.0
Benin                                       1620.0
Bhutan                                      5570.0
Bolivia (Plurinational State of)            4890.0
Bosnia and Herzegovina                      9190.0

In [79]:
WHO.loc['Viet Nam']

Region                           Western Pacific
Population                                 90796
Under15                                    22.87
Over60                                      9.32
FertilityRate                               1.79
LifeExpectancy                                75
ChildMortality                                23
CellularSubscribers                       143.39
LiteracyRate                                93.2
GNI                                         3250
PrimarySchoolEnrollmentMale                  NaN
PrimarySchoolEnrollmentFemale                NaN
Name: Viet Nam, dtype: object

In [80]:
print(WHO)

                                                          Region  Population  \
Country
Afghanistan                                Eastern Mediterranean       29825
Albania                                                   Europe        3162
Algeria                                                   Africa       38482
Andorra                                                   Europe          78
Angola                                                    Africa       20821
Antigua and Barbuda                                     Americas          89
Argentina                                               Americas       41087
Armenia                                                   Europe        2969
Australia                                        Western Pacific       23050
Austria                                                   Europe        8464
Azerbaijan                                                Europe        9309
Bahamas                                                 Americas         372
Bahrain                                    Eastern Mediterranean        1318
Bangladesh                                       South-East Asia      155000
Barbados                                                Americas         283
Belarus                                                   Europe        9405
Belgium                                                   Europe       11060
Belize                                                  Americas         324
Benin                                                     Africa       10051
Bhutan                                           South-East Asia         742
Bolivia (Plurinational State of)                        Americas       10496
Bosnia and Herzegovina                                    Europe        3834
Botswana                                                  Africa        2004
Brazil                                                  Americas      199000
Brunei Darussalam                                Western Pacific         412
Bulgaria                                                  Europe        7278
Burkina Faso                                              Africa       16460
Burundi                                                   Africa        9850
Cambodia                                         Western Pacific       14865
Cameroon                                                  Africa       21700
...                                                          ...         ...
Suriname                                                Americas         535
Swaziland                                                 Africa        1231
Sweden                                                    Europe        9511
Switzerland                                               Europe        7997
Syrian Arab Republic                       Eastern Mediterranean       21890
Tajikistan                                                Europe        8009
Thailand                                         South-East Asia       66785
The former Yugoslav Republic of Macedonia                 Europe        2106
Timor-Leste                                      South-East Asia        1114
Togo                                                      Africa        6643
Tonga                                            Western Pacific         105
Trinidad and Tobago                                     Americas        1337
Tunisia                                    Eastern Mediterranean       10875
Turkey                                                    Europe       73997
Turkmenistan                                              Europe        5173
Tuvalu                                           Western Pacific          10
Uganda                                                    Africa       36346
Ukraine                                                   Europe       45530
United Arab Emirates                       Eastern Mediterranean        9206
United Kingdom                                            Europe       62783
United Republic of Tanzania                               Africa       47783
United States of America                                Americas      318000
Uruguay                                                 Americas        3395
Uzbekistan                                                Europe       28541
Vanuatu                                          Western Pacific         247
Venezuela (Bolivarian Republic of)                      Americas       29955
Viet Nam                                         Western Pacific       90796
Yemen                                      Eastern Mediterranean       23852
Zambia                                                    Africa       14075
Zimbabwe                                                  Africa       13724

                                           Under15  Over60  FertilityRate  \
Country
Afghanistan                                  47.42    3.82           5.40
Albania                                      21.33   14.93           1.75
Algeria                                      27.42    7.17           2.83
Andorra                                      15.20   22.86            NaN
Angola                                       47.58    3.84           6.10
Antigua and Barbuda                          25.96   12.35           2.12
Argentina                                    24.42   14.97           2.20
Armenia                                      20.34   14.06           1.74
Australia                                    18.95   19.46           1.89
Austria                                      14.51   23.52           1.44
Azerbaijan                                   22.25    8.24           1.96
Bahamas                                      21.62   11.24           1.90
Bahrain                                      20.16    3.38           2.12
Bangladesh                                   30.57    6.89           2.24
Barbados                                     18.99   15.78           1.84
Belarus                                      15.10   19.31           1.47
Belgium                                      16.88   23.81           1.85
Belize                                       34.40    5.74           2.76
Benin                                        42.95    4.54           5.01
Bhutan                                       28.53    6.90           2.32
Bolivia (Plurinational State of)             35.23    7.28           3.31
Bosnia and Herzegovina                       16.35   20.52           1.26
Botswana                                     33.75    5.63           2.71
Brazil                                       24.56   10.81           1.82
Brunei Darussalam                            25.75    7.03           2.03
Bulgaria                                     13.53   26.11           1.51
Burkina Faso                                 45.66    3.88           5.78
Burundi                                      44.20    3.87           6.21
Cambodia                                     31.23    7.67           2.93
Cameroon                                     43.08    4.89           4.94
...                                            ...     ...            ...
Suriname                                     27.83    9.55           2.32
Swaziland                                    38.05    5.34           3.48
Sweden                                       16.71   25.32           1.93
Switzerland                                  14.79   23.25           1.51
Syrian Arab Republic                         35.35    6.09           3.04
Tajikistan                                   35.75    4.80           3.81
Thailand                                     18.47   13.96           1.43
The former Yugoslav Republic of Macedonia    16.89   17.56           1.44
Timor-Leste                                  46.33    5.16           6.11
Togo                                         41.89    4.44           4.75
Tonga                                        37.33    7.96           3.86
Trinidad and Tobago                          20.73   13.18           1.80
Tunisia                                      23.22   10.49           2.04
Turkey                                       26.00   10.56           2.08
Turkmenistan                                 28.65    6.30           2.38
Tuvalu                                       30.61    9.07            NaN
Uganda                                       48.54    3.72           6.06
Ukraine                                      14.18   20.76           1.45
United Arab Emirates                         14.41    0.81           1.84
United Kingdom                               17.54   23.06           1.90
United Republic of Tanzania                  44.85    4.89           5.36
United States of America                     19.63   19.31           2.00
Uruguay                                      22.05   18.59           2.07
Uzbekistan                                   28.90    6.38           2.38
Vanuatu                                      37.37    6.02           3.46
Venezuela (Bolivarian Republic of)           28.84    9.17           2.44
Viet Nam                                     22.87    9.32           1.79
Yemen                                        40.72    4.54           4.35
Zambia                                       46.73    3.95           5.77
Zimbabwe                                     40.24    5.68           3.64

                                           LifeExpectancy  ChildMortality  \
Country
Afghanistan                                            60            98.5
Albania                                                74            16.7
Algeria                                                73            20.0
Andorra                                                82             3.2
Angola                                                 51           163.5
Antigua and Barbuda                                    75             9.9
Argentina                                              76            14.2
Armenia                                                71            16.4
Australia                                              82             4.9
Austria                                                81             4.0
Azerbaijan                                             71            35.2
Bahamas                                                75            16.9
Bahrain                                                79             9.6
Bangladesh                                             70            40.9
Barbados                                               78            18.4
Belarus                                                71             5.2
Belgium                                                80             4.2
Belize                                                 74            18.3
Benin                                                  57            89.5
Bhutan                                                 67            44.6
Bolivia (Plurinational State of)                       67            41.4
Bosnia and Herzegovina                                 76             6.7
Botswana                                               66            53.3
Brazil                                                 74            14.4
Brunei Darussalam                                      77             8.0
Bulgaria                                               74            12.1
Burkina Faso                                           56           102.4
Burundi                                                53           104.3
Cambodia                                               65            39.7
Cameroon                                               53            94.9
...                                                   ...             ...
Suriname                                               72            20.8
Swaziland                                              50            79.7
Sweden                                                 82             2.9
Switzerland                                            83             4.3
Syrian Arab Republic                                   75            15.1
Tajikistan                                             68            58.3
Thailand                                               74            13.2
The former Yugoslav Republic of Macedonia              75             7.4
Timor-Leste                                            64            56.7
Togo                                                   56            95.5
Tonga                                                  72            12.8
Trinidad and Tobago                                    71            20.7
Tunisia                                                76            16.1
Turkey                                                 76            14.2
Turkmenistan                                           63            52.8
Tuvalu                                                 64            29.7
Uganda                                                 56            68.9
Ukraine                                                71            10.7
United Arab Emirates                                   76             8.4
United Kingdom                                         80             4.8
United Republic of Tanzania                            59            54.0
United States of America                               79             7.1
Uruguay                                                77             7.2
Uzbekistan                                             68            39.6
Vanuatu                                                72            17.9
Venezuela (Bolivarian Republic of)                     75            15.3
Viet Nam                                               75            23.0
Yemen                                                  64            60.0
Zambia                                                 55            88.5
Zimbabwe                                               54            89.8

                                           CellularSubscribers  LiteracyRate  \
Country
Afghanistan                                              54.26           NaN
Albania                                                  96.39           NaN
Algeria                                                  98.99           NaN
Andorra                                                  75.49           NaN
Angola                                                   48.38          70.1
Antigua and Barbuda                                     196.41          99.0
Argentina                                               134.92          97.8
Armenia                                                 103.57          99.6
Australia                                               108.34           NaN
Austria                                                 154.78           NaN
Azerbaijan                                              108.75           NaN
Bahamas                                                  86.06           NaN
Bahrain                                                 127.96          91.9
Bangladesh                                               56.06          56.8
Barbados                                                127.01           NaN
Belarus                                                 111.88           NaN
Belgium                                                 116.61           NaN
Belize                                                   69.96           NaN
Benin                                                    85.33          42.4
Bhutan                                                   65.58           NaN
Bolivia (Plurinational State of)                         82.82           NaN
Bosnia and Herzegovina                                   84.52          97.9
Botswana                                                142.82          84.5
Brazil                                                  124.26           NaN
Brunei Darussalam                                       109.17          95.2
Bulgaria                                                140.68           NaN
Burkina Faso                                             45.27           NaN
Burundi                                                  22.33          67.2
Cambodia                                                 96.17           NaN
Cameroon                                                 52.35           NaN
...                                                        ...           ...
Suriname                                                178.88          94.7
Swaziland                                                63.70          87.4
Sweden                                                  118.57           NaN
Switzerland                                             131.43           NaN
Syrian Arab Republic                                     63.17          83.4
Tajikistan                                               90.64          99.7
Thailand                                                111.63           NaN
The former Yugoslav Republic of Macedonia               107.24          97.3
Timor-Leste                                              53.23          58.3
Togo                                                     50.45           NaN
Tonga                                                    52.63           NaN
Trinidad and Tobago                                     135.64          98.8
Tunisia                                                 116.93           NaN
Turkey                                                   88.70           NaN
Turkmenistan                                             68.77          99.6
Tuvalu                                                   21.63           NaN
Uganda                                                   48.38          73.2
Ukraine                                                 122.98          99.7
United Arab Emirates                                    148.62           NaN
United Kingdom                                          130.75           NaN
United Republic of Tanzania                              55.53          73.2
United States of America                                 92.72           NaN
Uruguay                                                 140.75          98.1
Uzbekistan                                               91.65          99.4
Vanuatu                                                  55.76          82.6
Venezuela (Bolivarian Republic of)                       97.78           NaN
Viet Nam                                                143.39          93.2
Yemen                                                    47.05          63.9
Zambia                                                   60.59          71.2
Zimbabwe                                                 72.13          92.2

                                               GNI  \
Country
Afghanistan                                 1140.0
Albania                                     8820.0
Algeria                                     8310.0
Andorra                                        NaN
Angola                                      5230.0
Antigua and Barbuda                        17900.0
Argentina                                  17130.0
Armenia                                     6100.0
Australia                                  38110.0
Austria                                    42050.0
Azerbaijan                                  8960.0
Bahamas                                        NaN
Bahrain                                        NaN
Bangladesh                                  1940.0
Barbados                                       NaN
Belarus                                    14460.0
Belgium                                    39190.0
Belize                                      6090.0
Benin                                       1620.0
Bhutan                                      5570.0
Bolivia (Plurinational State of)            4890.0
Bosnia and Herzegovina                      9190.0

In [81]:
#Re-Set Index to Specfic Column
WHO.reset_index(inplace=True)

In [82]:
print(WHO)

                                       Country                 Region  \
0                                  Afghanistan  Eastern Mediterranean
1                                      Albania                 Europe
2                                      Algeria                 Africa
3                                      Andorra                 Europe
4                                       Angola                 Africa
5                          Antigua and Barbuda               Americas
6                                    Argentina               Americas
7                                      Armenia                 Europe
8                                    Australia        Western Pacific
9                                      Austria                 Europe
10                                  Azerbaijan                 Europe
11                                     Bahamas               Americas
12                                     Bahrain  Eastern Mediterranean
13                                  Bangladesh        South-East Asia
14                                    Barbados               Americas
15                                     Belarus                 Europe
16                                     Belgium                 Europe
17                                      Belize               Americas
18                                       Benin                 Africa
19                                      Bhutan        South-East Asia
20            Bolivia (Plurinational State of)               Americas
21                      Bosnia and Herzegovina                 Europe
22                                    Botswana                 Africa
23                                      Brazil               Americas
24                           Brunei Darussalam        Western Pacific
25                                    Bulgaria                 Europe
26                                Burkina Faso                 Africa
27                                     Burundi                 Africa
28                                    Cambodia        Western Pacific
29                                    Cameroon                 Africa
..                                         ...                    ...
164                                   Suriname               Americas
165                                  Swaziland                 Africa
166                                     Sweden                 Europe
167                                Switzerland                 Europe
168                       Syrian Arab Republic  Eastern Mediterranean
169                                 Tajikistan                 Europe
170                                   Thailand        South-East Asia
171  The former Yugoslav Republic of Macedonia                 Europe
172                                Timor-Leste        South-East Asia
173                                       Togo                 Africa
174                                      Tonga        Western Pacific
175                        Trinidad and Tobago               Americas
176                                    Tunisia  Eastern Mediterranean
177                                     Turkey                 Europe
178                               Turkmenistan                 Europe
179                                     Tuvalu        Western Pacific
180                                     Uganda                 Africa
181                                    Ukraine                 Europe
182                       United Arab Emirates  Eastern Mediterranean
183                             United Kingdom                 Europe
184                United Republic of Tanzania                 Africa
185                   United States of America               Americas
186                                    Uruguay               Americas
187                                 Uzbekistan                 Europe
188                                    Vanuatu        Western Pacific
189         Venezuela (Bolivarian Republic of)               Americas
190                                   Viet Nam        Western Pacific
191                                      Yemen  Eastern Mediterranean
192                                     Zambia                 Africa
193                                   Zimbabwe                 Africa

     Population  Under15  Over60  FertilityRate  LifeExpectancy  \
0         29825    47.42    3.82           5.40              60
1          3162    21.33   14.93           1.75              74
2         38482    27.42    7.17           2.83              73
3            78    15.20   22.86            NaN              82
4         20821    47.58    3.84           6.10              51
5            89    25.96   12.35           2.12              75
6         41087    24.42   14.97           2.20              76
7          2969    20.34   14.06           1.74              71
8         23050    18.95   19.46           1.89              82
9          8464    14.51   23.52           1.44              81
10         9309    22.25    8.24           1.96              71
11          372    21.62   11.24           1.90              75
12         1318    20.16    3.38           2.12              79
13       155000    30.57    6.89           2.24              70
14          283    18.99   15.78           1.84              78
15         9405    15.10   19.31           1.47              71
16        11060    16.88   23.81           1.85              80
17          324    34.40    5.74           2.76              74
18        10051    42.95    4.54           5.01              57
19          742    28.53    6.90           2.32              67
20        10496    35.23    7.28           3.31              67
21         3834    16.35   20.52           1.26              76
22         2004    33.75    5.63           2.71              66
23       199000    24.56   10.81           1.82              74
24          412    25.75    7.03           2.03              77
25         7278    13.53   26.11           1.51              74
26        16460    45.66    3.88           5.78              56
27         9850    44.20    3.87           6.21              53
28        14865    31.23    7.67           2.93              65
29        21700    43.08    4.89           4.94              53
..          ...      ...     ...            ...             ...
164         535    27.83    9.55           2.32              72
165        1231    38.05    5.34           3.48              50
166        9511    16.71   25.32           1.93              82
167        7997    14.79   23.25           1.51              83
168       21890    35.35    6.09           3.04              75
169        8009    35.75    4.80           3.81              68
170       66785    18.47   13.96           1.43              74
171        2106    16.89   17.56           1.44              75
172        1114    46.33    5.16           6.11              64
173        6643    41.89    4.44           4.75              56
174         105    37.33    7.96           3.86              72
175        1337    20.73   13.18           1.80              71
176       10875    23.22   10.49           2.04              76
177       73997    26.00   10.56           2.08              76
178        5173    28.65    6.30           2.38              63
179          10    30.61    9.07            NaN              64
180       36346    48.54    3.72           6.06              56
181       45530    14.18   20.76           1.45              71
182        9206    14.41    0.81           1.84              76
183       62783    17.54   23.06           1.90              80
184       47783    44.85    4.89           5.36              59
185      318000    19.63   19.31           2.00              79
186        3395    22.05   18.59           2.07              77
187       28541    28.90    6.38           2.38              68
188         247    37.37    6.02           3.46              72
189       29955    28.84    9.17           2.44              75
190       90796    22.87    9.32           1.79              75
191       23852    40.72    4.54           4.35              64
192       14075    46.73    3.95           5.77              55
193       13724    40.24    5.68           3.64              54

     ChildMortality  CellularSubscribers  LiteracyRate      GNI  \
0              98.5                54.26           NaN   1140.0
1              16.7                96.39           NaN   8820.0
2              20.0                98.99           NaN   8310.0
3               3.2                75.49           NaN      NaN
4             163.5                48.38          70.1   5230.0
5               9.9               196.41          99.0  17900.0
6              14.2               134.92          97.8  17130.0
7              16.4               103.57          99.6   6100.0
8               4.9               108.34           NaN  38110.0
9               4.0               154.78           NaN  42050.0
10             35.2               108.75           NaN   8960.0
11             16.9                86.06           NaN      NaN
12              9.6               127.96          91.9      NaN
13             40.9                56.06          56.8   1940.0
14             18.4               127.01           NaN      NaN
15              5.2               111.88           NaN  14460.0
16              4.2               116.61           NaN  39190.0
17             18.3                69.96           NaN   6090.0
18             89.5                85.33          42.4   1620.0
19             44.6                65.58           NaN   5570.0
20             41.4                82.82           NaN   4890.0
21              6.7                84.52          97.9   9190.0
22             53.3               142.82          84.5  14550.0
23             14.4               124.26           NaN  11420.0
24              8.0               109.17          95.2      NaN
25             12.1               140.68           NaN  14160.0
26            102.4                45.27           NaN   1300.0
27            104.3                22.33          67.2    610.0
28             39.7                96.17           NaN   2230.0
29             94.9                52.35           NaN   2330.0
..              ...                  ...           ...      ...
164            20.8               178.88          94.7      NaN
165            79.7                63.70          87.4   5930.0
166             2.9               118.57           NaN  42200.0
167             4.3               131.43           NaN  52570.0
168            15.1                63.17          83.4      NaN
169            58.3                90.64          99.7   2300.0
170            13.2               111.63           NaN   8360.0
171             7.4               107.24          97.3  11090.0
172            56.7                53.23          58.3      NaN
173            95.5                50.45           NaN   1040.0
174            12.8                52.63           NaN   5000.0
175            20.7               135.64          98.8      NaN
176            16.1               116.93           NaN   9030.0
177            14.2                88.70           NaN  16940.0
178            52.8                68.77          99.6   8690.0
179            29.7                21.63           NaN      NaN
180            68.9                48.38          73.2   1310.0
181            10.7               122.98          99.7   7040.0
182             8.4               148.62           NaN  47890.0
183             4.8               130.75           NaN  36010.0
184            54.0                55.53          73.2   1500.0
185             7.1                92.72           NaN  48820.0
186             7.2               140.75          98.1  14640.0
187            39.6                91.65          99.4   3420.0
188            17.9                55.76          82.6   4330.0
189            15.3                97.78           NaN  12430.0
190            23.0               143.39          93.2   3250.0
191            60.0                47.05          63.9   2170.0
192            88.5                60.59          71.2   1490.0
193            89.8                72.13          92.2      NaN

     PrimarySchoolEnrollmentMale  PrimarySchoolEnrollmentFemale
0                            NaN                            NaN
1                            NaN                            NaN
2                           98.2                           96.4
3                           78.4                           79.4
4                           93.1                           78.2
5                           91.1                           84.5
6                            NaN                            NaN
7                            NaN                            NaN
8                           96.9                           97.5
9                            NaN                            NaN
10                          85.3                           84.1
11                           NaN                            NaN
12                           NaN                            NaN
13                           NaN                            NaN
14                           NaN                            NaN
15                           NaN                            NaN
16                          98.9                           99.2
17                           NaN                            NaN
18                           NaN                            NaN
19                          88.3                           91.5
20                          91.2                           91.5
21                          86.5                           88.4
22                           NaN                            NaN
23                           NaN                            NaN
24                           NaN                            NaN
25                          99.3                           99.7
26                          60.7                           55.9
27                           NaN                            NaN
28                          96.4                           95.4
29                          99.6                           87.4
..                           ...                            ...
164                          NaN                            NaN
165                          NaN                            NaN
166                         99.7                           99.0
167                         98.9                           99.5
168                          NaN                            NaN
169                         99.5                           96.0
170                          NaN                            NaN
171                         97.3                           99.2
172                         86.2                           85.6
173                          NaN                            NaN
174                          NaN                            NaN
175                         97.7                           97.0
176                          NaN                            NaN
177                         99.5                           98.3
178                          NaN                            NaN
179                          NaN                            NaN
180                         89.7                           92.3
181                         90.8                           91.5
182                          NaN                            NaN
183                         99.8                           99.6
184                          NaN                            NaN
185                         95.4                           96.1
186                          NaN                            NaN
187                         93.3                           91.0
188                          NaN                            NaN
189                         94.7                           95.1
190                          NaN                            NaN
191                         85.5                           70.5
192                         91.4                           93.9
193                          NaN                            NaN

[194 rows x 13 columns]

In [83]:
#Handle Missing Data in Python Pandas
#Solution-1:Fill NaN with Zero
MVH= pd.read_csv("Missing_Values_Handling.csv")

In [84]:
print(MVH)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019          NaN        9.0   Sunny
2   3/5/2019         28.0        NaN    Snow
3   3/6/2019          NaN        7.0     NaN
4   3/7/2019         32.0        NaN    Rain
5   3/8/2019          NaN        NaN   Sunny
6   3/9/2019          NaN        NaN     NaN
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [85]:
rzero=MVH.fillna(0)

In [86]:
print(rzero)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019          0.0        9.0   Sunny
2   3/5/2019         28.0        0.0    Snow
3   3/6/2019          0.0        7.0       0
4   3/7/2019         32.0        0.0    Rain
5   3/8/2019          0.0        0.0   Sunny
6   3/9/2019          0.0        0.0       0
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [87]:
#Solution-2:Fill NaN with Customized Solutions
rcs=MVH.fillna({
'Temperature':0,
'Windspeed':0,
'Event':'No Event'
})

In [88]:
print(MVH)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019          NaN        9.0   Sunny
2   3/5/2019         28.0        NaN    Snow
3   3/6/2019          NaN        7.0     NaN
4   3/7/2019         32.0        NaN    Rain
5   3/8/2019          NaN        NaN   Sunny
6   3/9/2019          NaN        NaN     NaN
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [89]:
print(rcs)

         Day  Temperature  Windspeed     Event
0   3/1/2019         32.0        6.0      Rain
1   3/4/2019          0.0        9.0     Sunny
2   3/5/2019         28.0        0.0      Snow
3   3/6/2019          0.0        7.0  No Event
4   3/7/2019         32.0        0.0      Rain
5   3/8/2019          0.0        0.0     Sunny
6   3/9/2019          0.0        0.0  No Event
7  3/10/2019         34.0        8.0    Cloudy
8  3/11/2019         40.0       12.0     Sunny

In [90]:
#Solution-3:Fill NaN with fwd fill method
print(MVH)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019          NaN        9.0   Sunny
2   3/5/2019         28.0        NaN    Snow
3   3/6/2019          NaN        7.0     NaN
4   3/7/2019         32.0        NaN    Rain
5   3/8/2019          NaN        NaN   Sunny
6   3/9/2019          NaN        NaN     NaN
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [91]:
rff=MVH.fillna(method="ffill")

In [92]:
print(rff)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019         32.0        9.0   Sunny
2   3/5/2019         28.0        9.0    Snow
3   3/6/2019         28.0        7.0    Snow
4   3/7/2019         32.0        7.0    Rain
5   3/8/2019         32.0        7.0   Sunny
6   3/9/2019         32.0        7.0   Sunny
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [93]:
#Solution-4:Fill NaN with fwd fill method and set Limit
print(MVH)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019          NaN        9.0   Sunny
2   3/5/2019         28.0        NaN    Snow
3   3/6/2019          NaN        7.0     NaN
4   3/7/2019         32.0        NaN    Rain
5   3/8/2019          NaN        NaN   Sunny
6   3/9/2019          NaN        NaN     NaN
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [94]:
flm=MVH.fillna(method="ffill",limit=1)

In [95]:
print(flm)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019         32.0        9.0   Sunny
2   3/5/2019         28.0        9.0    Snow
3   3/6/2019         28.0        7.0    Snow
4   3/7/2019         32.0        7.0    Rain
5   3/8/2019         32.0        NaN   Sunny
6   3/9/2019          NaN        NaN   Sunny
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [96]:
#Solution-5:Fill NaN with backwd method
print(MVH)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019          NaN        9.0   Sunny
2   3/5/2019         28.0        NaN    Snow
3   3/6/2019          NaN        7.0     NaN
4   3/7/2019         32.0        NaN    Rain
5   3/8/2019          NaN        NaN   Sunny
6   3/9/2019          NaN        NaN     NaN
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [97]:
rbf=MVH.fillna(method="bfill")

In [98]:
print(rbf)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019         28.0        9.0   Sunny
2   3/5/2019         28.0        7.0    Snow
3   3/6/2019         32.0        7.0    Rain
4   3/7/2019         32.0        8.0    Rain
5   3/8/2019         34.0        8.0   Sunny
6   3/9/2019         34.0        8.0  Cloudy
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [99]:
#Solution-6:Fill NaN with backwd fill method and set Limit
print(MVH)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019          NaN        9.0   Sunny
2   3/5/2019         28.0        NaN    Snow
3   3/6/2019          NaN        7.0     NaN
4   3/7/2019         32.0        NaN    Rain
5   3/8/2019          NaN        NaN   Sunny
6   3/9/2019          NaN        NaN     NaN
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [100]:
blm=MVH.fillna(method="bfill",limit=1)

In [101]:
print(blm)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019         28.0        9.0   Sunny
2   3/5/2019         28.0        7.0    Snow
3   3/6/2019         32.0        7.0    Rain
4   3/7/2019         32.0        NaN    Rain
5   3/8/2019          NaN        NaN   Sunny
6   3/9/2019         34.0        8.0  Cloudy
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [102]:
#Solution-7:Fill NaN with fwd fill method (on columns)
print(MVH)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019          NaN        9.0   Sunny
2   3/5/2019         28.0        NaN    Snow
3   3/6/2019          NaN        7.0     NaN
4   3/7/2019         32.0        NaN    Rain
5   3/8/2019          NaN        NaN   Sunny
6   3/9/2019          NaN        NaN     NaN
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [103]:
rffc=MVH.fillna(method="ffill",axis="columns")

In [104]:
print(rffc)

         Day Temperature Windspeed     Event
0   3/1/2019          32         6      Rain
1   3/4/2019    3/4/2019         9     Sunny
2   3/5/2019          28        28      Snow
3   3/6/2019    3/6/2019         7         7
4   3/7/2019          32        32      Rain
5   3/8/2019    3/8/2019  3/8/2019     Sunny
6   3/9/2019    3/9/2019  3/9/2019  3/9/2019
7  3/10/2019          34         8    Cloudy
8  3/11/2019          40        12     Sunny

In [105]:
#Solution-7:Fill NaN with fwd fill method (on columns with limit)
print(MVH)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019          NaN        9.0   Sunny
2   3/5/2019         28.0        NaN    Snow
3   3/6/2019          NaN        7.0     NaN
4   3/7/2019         32.0        NaN    Rain
5   3/8/2019          NaN        NaN   Sunny
6   3/9/2019          NaN        NaN     NaN
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [106]:
rffcl=MVH.fillna(method="ffill",axis="columns",limit=1)

In [107]:
print(rffcl)

         Day Temperature Windspeed   Event
0   3/1/2019          32         6    Rain
1   3/4/2019    3/4/2019         9   Sunny
2   3/5/2019          28        28    Snow
3   3/6/2019    3/6/2019         7       7
4   3/7/2019          32        32    Rain
5   3/8/2019    3/8/2019       NaN   Sunny
6   3/9/2019    3/9/2019       NaN     NaN
7  3/10/2019          34         8  Cloudy
8  3/11/2019          40        12   Sunny

In [108]:
#Solution-8:Fill NaN with bckwd fill method (on columns)
print(MVH)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019          NaN        9.0   Sunny
2   3/5/2019         28.0        NaN    Snow
3   3/6/2019          NaN        7.0     NaN
4   3/7/2019         32.0        NaN    Rain
5   3/8/2019          NaN        NaN   Sunny
6   3/9/2019          NaN        NaN     NaN
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [109]:
rbfc=MVH.fillna(method="bfill",axis="columns")

In [110]:
print(rbfc)

         Day Temperature Windspeed   Event
0   3/1/2019          32         6    Rain
1   3/4/2019           9         9   Sunny
2   3/5/2019          28      Snow    Snow
3   3/6/2019           7         7     NaN
4   3/7/2019          32      Rain    Rain
5   3/8/2019       Sunny     Sunny   Sunny
6   3/9/2019         NaN       NaN     NaN
7  3/10/2019          34         8  Cloudy
8  3/11/2019          40        12   Sunny

In [111]:
#Solution-9:Fill NaN with bckwd fill method (on columns with limit)
print(MVH)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019          NaN        9.0   Sunny
2   3/5/2019         28.0        NaN    Snow
3   3/6/2019          NaN        7.0     NaN
4   3/7/2019         32.0        NaN    Rain
5   3/8/2019          NaN        NaN   Sunny
6   3/9/2019          NaN        NaN     NaN
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [112]:
rbfcl=MVH.fillna(method="bfill",axis="columns",limit=1)

In [113]:
print(rbfcl)

         Day Temperature Windspeed   Event
0   3/1/2019          32         6    Rain
1   3/4/2019           9         9   Sunny
2   3/5/2019          28      Snow    Snow
3   3/6/2019           7         7     NaN
4   3/7/2019          32      Rain    Rain
5   3/8/2019         NaN     Sunny   Sunny
6   3/9/2019         NaN       NaN     NaN
7  3/10/2019          34         8  Cloudy
8  3/11/2019          40        12   Sunny

In [114]:
#Solution-10:Fill NaN using interpolate function
print(MVH)

         Day  Temperature  Windspeed   Event
0   3/1/2019         32.0        6.0    Rain
1   3/4/2019          NaN        9.0   Sunny
2   3/5/2019         28.0        NaN    Snow
3   3/6/2019          NaN        7.0     NaN
4   3/7/2019         32.0        NaN    Rain
5   3/8/2019          NaN        NaN   Sunny
6   3/9/2019          NaN        NaN     NaN
7  3/10/2019         34.0        8.0  Cloudy
8  3/11/2019         40.0       12.0   Sunny

In [115]:
#This is linear interpolate method
fint=MVH.interpolate()

In [116]:
print(fint)

         Day  Temperature  Windspeed   Event
0   3/1/2019    32.000000       6.00    Rain
1   3/4/2019    30.000000       9.00   Sunny
2   3/5/2019    28.000000       8.00    Snow
3   3/6/2019    30.000000       7.00     NaN
4   3/7/2019    32.000000       7.25    Rain
5   3/8/2019    32.666667       7.50   Sunny
6   3/9/2019    33.333333       7.75     NaN
7  3/10/2019    34.000000       8.00  Cloudy
8  3/11/2019    40.000000      12.00   Sunny

In [117]:
#Solution-11:Fill NaN using interpolate function (time method)
mvhp= pd.read_csv('missing_values_handling.csv',parse_dates=['Day'])

In [118]:
print(mvhp)

         Day  Temperature  Windspeed   Event
0 2019-03-01         32.0        6.0    Rain
1 2019-03-04          NaN        9.0   Sunny
2 2019-03-05         28.0        NaN    Snow
3 2019-03-06          NaN        7.0     NaN
4 2019-03-07         32.0        NaN    Rain
5 2019-03-08          NaN        NaN   Sunny
6 2019-03-09          NaN        NaN     NaN
7 2019-03-10         34.0        8.0  Cloudy
8 2019-03-11         40.0       12.0   Sunny

In [119]:
mvhp.set_index('Day',inplace=True)

In [120]:
print(mvhp)

            Temperature  Windspeed   Event
Day
2019-03-01         32.0        6.0    Rain
2019-03-04          NaN        9.0   Sunny
2019-03-05         28.0        NaN    Snow
2019-03-06          NaN        7.0     NaN
2019-03-07         32.0        NaN    Rain
2019-03-08          NaN        NaN   Sunny
2019-03-09          NaN        NaN     NaN
2019-03-10         34.0        8.0  Cloudy
2019-03-11         40.0       12.0   Sunny

In [121]:
fint=mvhp.interpolate(method="time")

In [122]:
print(fint)

            Temperature  Windspeed   Event
Day
2019-03-01    32.000000       6.00    Rain
2019-03-04    29.000000       9.00   Sunny
2019-03-05    28.000000       8.00    Snow
2019-03-06    30.000000       7.00     NaN
2019-03-07    32.000000       7.25    Rain
2019-03-08    32.666667       7.50   Sunny
2019-03-09    33.333333       7.75     NaN
2019-03-10    34.000000       8.00  Cloudy
2019-03-11    40.000000      12.00   Sunny

In [123]:
#Solution-12:Drop NaN Rows
print(mvhp)

            Temperature  Windspeed   Event
Day
2019-03-01         32.0        6.0    Rain
2019-03-04          NaN        9.0   Sunny
2019-03-05         28.0        NaN    Snow
2019-03-06          NaN        7.0     NaN
2019-03-07         32.0        NaN    Rain
2019-03-08          NaN        NaN   Sunny
2019-03-09          NaN        NaN     NaN
2019-03-10         34.0        8.0  Cloudy
2019-03-11         40.0       12.0   Sunny

In [124]:
nads1=mvhp.dropna()

In [125]:
print(nads1)

            Temperature  Windspeed   Event
Day
2019-03-01         32.0        6.0    Rain
2019-03-10         34.0        8.0  Cloudy
2019-03-11         40.0       12.0   Sunny

In [126]:
#Solution-13:Drop NaN Rows (if each element of the row having NaN )
print(mvhp)

            Temperature  Windspeed   Event
Day
2019-03-01         32.0        6.0    Rain
2019-03-04          NaN        9.0   Sunny
2019-03-05         28.0        NaN    Snow
2019-03-06          NaN        7.0     NaN
2019-03-07         32.0        NaN    Rain
2019-03-08          NaN        NaN   Sunny
2019-03-09          NaN        NaN     NaN
2019-03-10         34.0        8.0  Cloudy
2019-03-11         40.0       12.0   Sunny

In [127]:
naall=mvhp.dropna(how="all")

In [128]:
print(naall)

            Temperature  Windspeed   Event
Day
2019-03-01         32.0        6.0    Rain
2019-03-04          NaN        9.0   Sunny
2019-03-05         28.0        NaN    Snow
2019-03-06          NaN        7.0     NaN
2019-03-07         32.0        NaN    Rain
2019-03-08          NaN        NaN   Sunny
2019-03-10         34.0        8.0  Cloudy
2019-03-11         40.0       12.0   Sunny

In [129]:
#Solution-14:Drop NaN Rows (By Appling thresh)
print(mvhp)

            Temperature  Windspeed   Event
Day
2019-03-01         32.0        6.0    Rain
2019-03-04          NaN        9.0   Sunny
2019-03-05         28.0        NaN    Snow
2019-03-06          NaN        7.0     NaN
2019-03-07         32.0        NaN    Rain
2019-03-08          NaN        NaN   Sunny
2019-03-09          NaN        NaN     NaN
2019-03-10         34.0        8.0  Cloudy
2019-03-11         40.0       12.0   Sunny

In [130]:
nath=mvhp.dropna(thresh=2)

In [131]:
print(nath)

            Temperature  Windspeed   Event
Day
2019-03-01         32.0        6.0    Rain
2019-03-04          NaN        9.0   Sunny
2019-03-05         28.0        NaN    Snow
2019-03-07         32.0        NaN    Rain
2019-03-10         34.0        8.0  Cloudy
2019-03-11         40.0       12.0   Sunny

In [132]:
#Solution-15:Fill Missing Date
print(mvhp)

            Temperature  Windspeed   Event
Day
2019-03-01         32.0        6.0    Rain
2019-03-04          NaN        9.0   Sunny
2019-03-05         28.0        NaN    Snow
2019-03-06          NaN        7.0     NaN
2019-03-07         32.0        NaN    Rain
2019-03-08          NaN        NaN   Sunny
2019-03-09          NaN        NaN     NaN
2019-03-10         34.0        8.0  Cloudy
2019-03-11         40.0       12.0   Sunny

In [133]:
dt=pd.date_range("03-01-2019","03-11-2019")

In [134]:
idx=pd.DatetimeIndex(dt)

In [135]:
mvhp=mvhp.reindex(idx)

In [136]:
print(mvhp)

            Temperature  Windspeed   Event
2019-03-01         32.0        6.0    Rain
2019-03-02          NaN        NaN     NaN
2019-03-03          NaN        NaN     NaN
2019-03-04          NaN        9.0   Sunny
2019-03-05         28.0        NaN    Snow
2019-03-06          NaN        7.0     NaN
2019-03-07         32.0        NaN    Rain
2019-03-08          NaN        NaN   Sunny
2019-03-09          NaN        NaN     NaN
2019-03-10         34.0        8.0  Cloudy
2019-03-11         40.0       12.0   Sunny

In [137]:
#Convert Illogical Values to NaN
Weather2= pd.read_csv("Weather2.csv")

In [138]:
print(Weather2)

       Date    Temperature Windspeed  Event
0  3/1/2019             30         6   Rain
1  3/2/2019             32         7  Sunny
2  3/3/2019             34       n.a   Rain
3  3/4/2019             36        12  Sunny
4  3/5/2019  Not Available        13   Rain

In [139]:
#Solution-1
W2P= pd.read_csv('Weather2.csv',na_values=['Not Available',"n.a"])

In [140]:
print(W2P)

       Date  Temperature  Windspeed  Event
0  3/1/2019         30.0        6.0   Rain
1  3/2/2019         32.0        7.0  Sunny
2  3/3/2019         34.0        NaN   Rain
3  3/4/2019         36.0       12.0  Sunny
4  3/5/2019          NaN       13.0   Rain

In [141]:
#Solution-2
Stocks= pd.read_csv("Stocks.csv")

In [142]:
print(Stocks)

  Tickers            EPS  Revenue Price         People
0  Google          27.82       84   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1   n.a     ratan tata

In [143]:
Stocks= pd.read_csv("Stocks.csv",na_values=['not available',"n.a","n.a."])

In [144]:
print(Stocks)

  Tickers    EPS  Revenue   Price         People
0  Google  27.82       84   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3     RIL    NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [145]:
#As we know that Revenue never -ve no
st1= pd.read_csv('Stocks.csv',na_values={'EPS':["not available","n.a","n.a."],
'Revenue':["not available","n.a","n.a.",-1],
'Price':["not available","n.a","n.a."],
'People':["not available","n.a","n.a."]
})

In [146]:
print(st1)

  Tickers    EPS  Revenue   Price         People
0  Google  27.82     84.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3     RIL    NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [147]:
#Solution-3::converters
stocke=pd.read_excel("Stocks_ex.xlsx","Stocks")

In [148]:
print(stocke)

  Tickers            EPS  Revenue Price         People
0  Google          27.82       84   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1   n.a     ratan tata

In [149]:
#Example-1
def convert_people_cell(cell):
    if cell=="n.a.":
        return 'Sam Walton'
    return cell

In [150]:
dfe=pd.read_excel("Stocks_ex.xlsx","Stocks",converters={
'People':convert_people_cell
})

In [151]:
print(dfe)

  Tickers            EPS  Revenue Price         People
0  Google          27.82       84   845     larry page
1     WMT           4.61      484    65     Sam Walton
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1   n.a     ratan tata

In [152]:
#Example-2
def convert_people_cell(cell):
    if cell=="n.a.":
        return 'Sam Walton'
    return cell
def convert_revenue_cell(cell):
    if cell<0:
        return 'NaN'
    return cell

In [153]:
print(stocke)

  Tickers            EPS  Revenue Price         People
0  Google          27.82       84   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1   n.a     ratan tata

In [154]:
dfe1=pd.read_excel("Stocks_ex.xlsx","Stocks",converters={
'People':convert_people_cell,
'Revenue':convert_revenue_cell
})

In [155]:
print(dfe1)

  Tickers            EPS Revenue Price         People
0  Google          27.82      84   845     larry page
1     WMT           4.61     484    65     Sam Walton
2    MSFT             -1      85    64     bill gates
3     RIL  not available      50  1023  mukesh ambani
4    TATA            5.6     NaN   n.a     ratan tata

In [156]:
#Solution-4::Replace
import numpy as np

In [157]:
rds= pd.read_csv('Replace_DS.csv')

In [158]:
print(rds)

        Day  Temperature  Windspeed     Event
0  1-Mar-19           32          6      Rain
1  2-Mar-19      -999999          7     Sunny
2  3-Mar-19           28    -999999      Snow
3  4-Mar-19      -999999          7  No Event
4  5-Mar-19           32    -999999      Rain
5  6-Mar-19           31          2     Sunny
6  7-Mar-19           34          5  No Event

In [159]:
dfr=rds.replace(-999999,np.NaN)

In [160]:
print(dfr)

        Day  Temperature  Windspeed     Event
0  1-Mar-19         32.0        6.0      Rain
1  2-Mar-19          NaN        7.0     Sunny
2  3-Mar-19         28.0        NaN      Snow
3  4-Mar-19          NaN        7.0  No Event
4  5-Mar-19         32.0        NaN      Rain
5  6-Mar-19         31.0        2.0     Sunny
6  7-Mar-19         34.0        5.0  No Event

In [161]:
#Solution-5::Replace
print(rds)

        Day  Temperature  Windspeed     Event
0  1-Mar-19           32          6      Rain
1  2-Mar-19      -999999          7     Sunny
2  3-Mar-19           28    -999999      Snow
3  4-Mar-19      -999999          7  No Event
4  5-Mar-19           32    -999999      Rain
5  6-Mar-19           31          2     Sunny
6  7-Mar-19           34          5  No Event

In [162]:
rds1=rds.replace({
        -999999:np.NaN,
        'No Event':np.NaN})

In [163]:
print(rds1)

        Day  Temperature  Windspeed  Event
0  1-Mar-19         32.0        6.0   Rain
1  2-Mar-19          NaN        7.0  Sunny
2  3-Mar-19         28.0        NaN   Snow
3  4-Mar-19          NaN        7.0    NaN
4  5-Mar-19         32.0        NaN   Rain
5  6-Mar-19         31.0        2.0  Sunny
6  7-Mar-19         34.0        5.0    NaN

In [164]:
#Solution-6::Replace
rds2= pd.read_csv('Replace_DS1.csv')

In [165]:
print(rds2)

        Day  Temperature  Windspeed     Event
0  1-Mar-19           32          6      Rain
1  2-Mar-19      -999999          7     Sunny
2  3-Mar-19           28    -999999      Snow
3  4-Mar-19      -999999          7  No Event
4  5-Mar-19           32    -888888      Rain
5  6-Mar-19           31          2     Sunny
6  7-Mar-19           34          5  No Event

In [166]:
dfr=rds2.replace([-999999,-888888],np.NaN)

In [167]:
print(dfr)

        Day  Temperature  Windspeed     Event
0  1-Mar-19         32.0        6.0      Rain
1  2-Mar-19          NaN        7.0     Sunny
2  3-Mar-19         28.0        NaN      Snow
3  4-Mar-19          NaN        7.0  No Event
4  5-Mar-19         32.0        NaN      Rain
5  6-Mar-19         31.0        2.0     Sunny
6  7-Mar-19         34.0        5.0  No Event

In [168]:
#Solution-7::Replace
rds3= pd.read_csv('Replace_DS2.csv')

In [169]:
print(rds3)

        Day  Temperature  Windspeed  Event
0  1-Mar-19           32          6   Rain
1  2-Mar-19      -999999          7  Sunny
2  3-Mar-19           28    -888888   Snow
3  4-Mar-19      -999999          7      0
4  5-Mar-19           32    -888888   Rain
5  6-Mar-19           31          2  Sunny
6  7-Mar-19           34          5      0

In [170]:
dfr6=rds3.replace({
        'Temperature':-999999,
        'Windspeed':-888888,
        'Event':'0'},np.NaN)

In [171]:
print(dfr6)

        Day  Temperature  Windspeed  Event
0  1-Mar-19         32.0        6.0   Rain
1  2-Mar-19          NaN        7.0  Sunny
2  3-Mar-19         28.0        NaN   Snow
3  4-Mar-19          NaN        7.0    NaN
4  5-Mar-19         32.0        NaN   Rain
5  6-Mar-19         31.0        2.0  Sunny
6  7-Mar-19         34.0        5.0    NaN

In [172]:
#Solution-8::Replace And Regex
dfrr= pd.read_csv('Replace_DS3.csv')

In [173]:
print(dfrr)

        Day Temperature Windspeed     Event
0  1-Mar-19         32F      6MPH      Rain
1  2-Mar-19     -999999         7     Sunny
2  3-Mar-19         28C   -999999      Snow
3  4-Mar-19     -999999         7  No Event
4  5-Mar-19          32   -999999      Rain
5  6-Mar-19          31         2     Sunny
6  7-Mar-19          34      5MPH  No Event

In [174]:
dfrrm=dfrr.replace('[A-Za-z]','',regex=True)

In [175]:
print(dfrrm)

     Day Temperature Windspeed Event
0  1--19          32         6
1  2--19     -999999         7
2  3--19          28   -999999
3  4--19     -999999         7
4  5--19          32   -999999
5  6--19          31         2
6  7--19          34         5

In [176]:
# Above statment works for Temperature and Windspeed, but not required on Day and Event

In [177]:
cs=dfrr.replace({
        'Temperature':'[A-Za-z]',
        'Windspeed':'[A-Za-z]'},'',regex=True)

In [178]:
print(cs)

        Day Temperature Windspeed     Event
0  1-Mar-19          32         6      Rain
1  2-Mar-19     -999999         7     Sunny
2  3-Mar-19          28   -999999      Snow
3  4-Mar-19     -999999         7  No Event
4  5-Mar-19          32   -999999      Rain
5  6-Mar-19          31         2     Sunny
6  7-Mar-19          34         5  No Event

In [179]:
#Categorical Data

In [180]:
import pandas as pd
listc= pd.read_csv('List.csv')
print(listc)

         Score  Student
0  Exceptional    Irfan
1       V Good      Ali
2         Good    Ahmed
3         Poor    Bilal
4       V Good     Atif
5  Exceptional  Mansoor

In [181]:
listc.sort_values("Score")

         Score  Student
0  Exceptional    Irfan
5  Exceptional  Mansoor
2         Good    Ahmed
3         Poor    Bilal
1       V Good      Ali
4       V Good     Atif

In [182]:
listc.Score.unique()

array(['Exceptional', 'V Good', 'Good', 'Poor'], dtype=object)

In [183]:
listc['Score']=listc.Score.astype("category",ordered=True,
          categories=['Poor','Good','V Good','Exceptional'])

C:\Users\iwx499921\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead

In [184]:
listc.sort_values("Score")

         Score  Student
3         Poor    Bilal
2         Good    Ahmed
1       V Good      Ali
4       V Good     Atif
0  Exceptional    Irfan
5  Exceptional  Mansoor

In [185]:
listc.loc[listc.Score >= 'Good']

         Score  Student
0  Exceptional    Irfan
1       V Good      Ali
2         Good    Ahmed
4       V Good     Atif
5  Exceptional  Mansoor

In [186]:
#Nominal Categories

In [187]:
gender= pd.read_csv('Gender.csv')

In [188]:
print(gender)

            Name  Gender
0   Irfan Kareem    Male
1  Rizwan Kareem    Male
2   Ayyan Kareem    Male
3  Nouman Kareem    Male
4   Saira Kareem  Female

In [189]:
gender.Gender.astype("category").cat.codes

0    1
1    1
2    1
3    1
4    0
dtype: int8

In [190]:
#get_dummies
#If we wanted to separate the distinct variables out into booleans as we would like for data science
#models such as for example, linear regression, we can use pd.get_dummies.

In [191]:
listc= pd.read_csv('List.csv')

In [192]:
print(listc)

         Score  Student
0  Exceptional    Irfan
1       V Good      Ali
2         Good    Ahmed
3         Poor    Bilal
4       V Good     Atif
5  Exceptional  Mansoor

In [193]:
pd.get_dummies(listc, columns=['Score'])

   Student  Score_Exceptional  Score_Good  Score_Poor  Score_V Good
0    Irfan                  1           0           0             0
1      Ali                  0           0           0             1
2    Ahmed                  0           1           0             0
3    Bilal                  0           0           1             0
4     Atif                  0           0           0             1
5  Mansoor                  1           0           0             0

In [194]:
#CONCATENATE (w.r.t Rows)

In [195]:
KPK= pd.read_csv('KPK_Weather.csv')
Punjab= pd.read_csv('Punjab_Weather.csv')

In [196]:
print(KPK)

         City       Day  Event  Temperature  Windspeed
0    Peshawar  3/1/2019   Rain           38         16
1  Abbottabad  3/4/2019  Sunny           46         20
2       Kohat  3/3/2019  Sunny           42         19
3         Dir  3/2/2019   Rain           40         17

In [197]:
print(Punjab)

         City       Day  Event  Temperature  Windspeed
0      Lahore  3/1/2019   Rain           30          6
1      Multan  3/2/2019  Sunny           32          7
2  Faisalabad  3/3/2019   Rain           34         10
3      Jhelum  3/4/2019  Sunny           36         12

In [198]:
Weather=pd.concat([Punjab,KPK])

In [199]:
print(Weather)

         City       Day  Event  Temperature  Windspeed
0      Lahore  3/1/2019   Rain           30          6
1      Multan  3/2/2019  Sunny           32          7
2  Faisalabad  3/3/2019   Rain           34         10
3      Jhelum  3/4/2019  Sunny           36         12
0    Peshawar  3/1/2019   Rain           38         16
1  Abbottabad  3/4/2019  Sunny           46         20
2       Kohat  3/3/2019  Sunny           42         19
3         Dir  3/2/2019   Rain           40         17

In [200]:
#CONCATENATE (w.r.t Rows)::Solution for Index

In [201]:
WeatherI=pd.concat([Punjab,KPK],ignore_index=True)
print(WeatherI)

         City       Day  Event  Temperature  Windspeed
0      Lahore  3/1/2019   Rain           30          6
1      Multan  3/2/2019  Sunny           32          7
2  Faisalabad  3/3/2019   Rain           34         10
3      Jhelum  3/4/2019  Sunny           36         12
4    Peshawar  3/1/2019   Rain           38         16
5  Abbottabad  3/4/2019  Sunny           46         20
6       Kohat  3/3/2019  Sunny           42         19
7         Dir  3/2/2019   Rain           40         17

In [202]:
#CONCATENATE (w.r.t Rows)::Sub Set
WeatherS=pd.concat([Punjab,KPK],keys=['Punjab','KPK'])

In [203]:
print(WeatherS)

                City       Day  Event  Temperature  Windspeed
Punjab 0      Lahore  3/1/2019   Rain           30          6
       1      Multan  3/2/2019  Sunny           32          7
       2  Faisalabad  3/3/2019   Rain           34         10
       3      Jhelum  3/4/2019  Sunny           36         12
KPK    0    Peshawar  3/1/2019   Rain           38         16
       1  Abbottabad  3/4/2019  Sunny           46         20
       2       Kohat  3/3/2019  Sunny           42         19
       3         Dir  3/2/2019   Rain           40         17

In [204]:
WeatherS.loc['Punjab']

         City       Day  Event  Temperature  Windspeed
0      Lahore  3/1/2019   Rain           30          6
1      Multan  3/2/2019  Sunny           32          7
2  Faisalabad  3/3/2019   Rain           34         10
3      Jhelum  3/4/2019  Sunny           36         12

In [205]:
WeatherS.loc['KPK']

         City       Day  Event  Temperature  Windspeed
0    Peshawar  3/1/2019   Rain           38         16
1  Abbottabad  3/4/2019  Sunny           46         20
2       Kohat  3/3/2019  Sunny           42         19
3         Dir  3/2/2019   Rain           40         17

In [206]:
#CONCATENATE (w.r.t Col)::Example-1

In [207]:
WTem= pd.read_csv('WTemData.csv')
WWS= pd.read_csv('WWSData.csv')

In [208]:
print(WTem)

         City  Temperature
0      Lahore           30
1      Multan           32
2  Faisalabad           34
3      Jhelum           36

In [209]:
print(WWS)

         City  WindSpeed
0      Lahore          7
1      Multan          8
2  Faisalabad          9
3      Jhelum         10

In [210]:
WDF=pd.concat([WTem,WWS])

C:\Users\iwx499921\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [211]:
print(WDF)

         City  Temperature  WindSpeed
0      Lahore         30.0        NaN
1      Multan         32.0        NaN
2  Faisalabad         34.0        NaN
3      Jhelum         36.0        NaN
0      Lahore          NaN        7.0
1      Multan          NaN        8.0
2  Faisalabad          NaN        9.0
3      Jhelum          NaN       10.0

In [212]:
#CONCATENATE (w.r.t Col)::Solution
WDF1=pd.concat([WTem,WWS],axis=1)

In [213]:
print(WDF1)

         City  Temperature        City  WindSpeed
0      Lahore           30      Lahore          7
1      Multan           32      Multan          8
2  Faisalabad           34  Faisalabad          9
3      Jhelum           36      Jhelum         10

In [214]:
#CONCATENATE (w.r.t Col)::Example-2

In [215]:
WTem1= pd.read_csv('WTem1.csv')
WWS1= pd.read_csv('WWS1.csv')

In [216]:
print(WTem1)

         City  Temperature
0      Lahore           30
1      Multan           32
2  Faisalabad           34
3      Jhelum           36

In [217]:
print(WWS1)

         City  WindSpeed
0  Faisalabad          9
1      Jhelum         10
2      Lahore          7
3      Multan          8

In [218]:
WDF2=pd.concat([WTem1,WWS1],axis=1)

In [219]:
print(WDF2)

         City  Temperature        City  WindSpeed
0      Lahore           30  Faisalabad          9
1      Multan           32      Jhelum         10
2  Faisalabad           34      Lahore          7
3      Jhelum           36      Multan          8

In [220]:
#CONCATENATE (w.r.t Col)::Example-2::Solution

In [221]:
weather_data_Temp=pd.DataFrame({'City':['LHR','SHD','GJW','SKT'],
                                'temperature':[30,32,34,36]},index=[0,1,2,3])

In [222]:
weather_data_wind=pd.DataFrame({'City':['SKT','GJW','SHD','LHR'],
                                'windspeed':[7,8,9,10]},index=[3,2,1,0])

In [223]:
weather_datar=pd.concat([weather_data_Temp,weather_data_wind],axis=1)

In [224]:
print(weather_datar)

  City  temperature City  windspeed
0  LHR           30  LHR         10
1  SHD           32  SHD          9
2  GJW           34  GJW          8
3  SKT           36  SKT          7

In [225]:
#Merge Dataframes::Example-1

In [226]:
weather_data_Temp=pd.DataFrame({'City':['LHR','SHD','GJW','SKT'],
                                'temperature':[30,32,34,36]})

In [227]:
weather_data_wind=pd.DataFrame({'City':['SKT','GJW','SHD','LHR'],
                                'windspeed':[7,8,9,10]})

In [228]:
wfs=pd.merge(weather_data_Temp,weather_data_wind,on="City")

In [229]:
print(wfs)

  City  temperature  windspeed
0  LHR           30         10
1  SHD           32          9
2  GJW           34          8
3  SKT           36          7

In [230]:
#Merge Dataframes::Example-2
Family= pd.read_csv('Family.csv',skipfooter=1)

C:\Users\iwx499921\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

In [231]:
print(Family)

            Name           ID          Program
0   Irfan Kareem  F2018279005           MS(CS)
1  Rizwan Kareem  F2017279005          BS Math
2   Ayyan Kareem  F2016279004  FSC Pre-Medical

In [232]:
Math= pd.read_csv('Math.txt',sep=",")

In [233]:
print(Math)

            ID  Math
0  F2017313014    98
1  F2017313016    96
2  F2017313018    94

In [234]:
FR=pd.merge(Family,Math,on="ID")

In [235]:
print(FR)

Empty DataFrame
Columns: [Name, ID, Program, Math]
Index: []

In [236]:
#Merge Dataframes::Inner Join

In [237]:
Student= pd.read_csv('ListStu.txt',sep=",")

In [238]:
print(Student)

            ID                 Name Program
0  F2018313014           Umer Saeed  MS(DS)
1  F2018313015            Ali Ahmed     BBA
2  F2018313016      Ahmed Abdullah   BS(CS)
3  F2018313017          Bilal Iqbal  MS(TE)
4  F2018279005         Irfan Kareem  MS(CS)
5  F2018313019  Muhammad Ijlal Khan  BS(CE)

In [239]:
age= pd.read_csv('Listage.txt',sep=",")

In [240]:
print(age)

            ID  age
0  F2018313014   37
1  F2018313016   28
2  F2018313017   25
3  F2018313019   28

In [241]:
table1=pd.merge(Student,age,on="ID")

In [242]:
print(table1)

            ID                 Name Program  age
0  F2018313014           Umer Saeed  MS(DS)   37
1  F2018313016      Ahmed Abdullah   BS(CS)   28
2  F2018313017          Bilal Iqbal  MS(TE)   25
3  F2018313019  Muhammad Ijlal Khan  BS(CE)   28

In [243]:
table2=pd.merge(Student,age,on="ID",how="inner")

In [244]:
print(table2)

            ID                 Name Program  age
0  F2018313014           Umer Saeed  MS(DS)   37
1  F2018313016      Ahmed Abdullah   BS(CS)   28
2  F2018313017          Bilal Iqbal  MS(TE)   25
3  F2018313019  Muhammad Ijlal Khan  BS(CE)   28

In [245]:
#Merge Dataframes::Outer Join

In [246]:
Student= pd.read_csv('ListStu.txt',sep=",")

In [247]:
print(Student)

            ID                 Name Program
0  F2018313014           Umer Saeed  MS(DS)
1  F2018313015            Ali Ahmed     BBA
2  F2018313016      Ahmed Abdullah   BS(CS)
3  F2018313017          Bilal Iqbal  MS(TE)
4  F2018279005         Irfan Kareem  MS(CS)
5  F2018313019  Muhammad Ijlal Khan  BS(CE)

In [248]:
age= pd.read_csv('Listage.txt',sep=",")
print(age)

            ID  age
0  F2018313014   37
1  F2018313016   28
2  F2018313017   25
3  F2018313019   28

In [249]:
table3=pd.merge(Student,age,on="ID",how="outer")

In [250]:
print(table3)

            ID                 Name Program   age
0  F2018313014           Umer Saeed  MS(DS)  37.0
1  F2018313015            Ali Ahmed     BBA   NaN
2  F2018313016      Ahmed Abdullah   BS(CS)  28.0
3  F2018313017          Bilal Iqbal  MS(TE)  25.0
4  F2018279005         Irfan Kareem  MS(CS)   NaN
5  F2018313019  Muhammad Ijlal Khan  BS(CE)  28.0

In [251]:
#Merge Dataframes::Left Join

In [252]:
Student= pd.read_csv('ListStu.txt',sep=",")

In [253]:
print(Student)

            ID                 Name Program
0  F2018313014           Umer Saeed  MS(DS)
1  F2018313015            Ali Ahmed     BBA
2  F2018313016      Ahmed Abdullah   BS(CS)
3  F2018313017          Bilal Iqbal  MS(TE)
4  F2018279005         Irfan Kareem  MS(CS)
5  F2018313019  Muhammad Ijlal Khan  BS(CE)

In [254]:
age= pd.read_csv('Listage.txt',sep=",")
print(age)

            ID  age
0  F2018313014   37
1  F2018313016   28
2  F2018313017   25
3  F2018313019   28

In [255]:
table4=pd.merge(Student,age,on="ID",how="left")

In [256]:
print(table4)

            ID                 Name Program   age
0  F2018313014           Umer Saeed  MS(DS)  37.0
1  F2018313015            Ali Ahmed     BBA   NaN
2  F2018313016      Ahmed Abdullah   BS(CS)  28.0
3  F2018313017          Bilal Iqbal  MS(TE)  25.0
4  F2018279005         Irfan Kareem  MS(CS)   NaN
5  F2018313019  Muhammad Ijlal Khan  BS(CE)  28.0

In [257]:
#Merge Dataframes::Right Join

In [258]:
table5=pd.merge(Student,age,on="ID",how="right")

In [259]:
print(table5)

            ID                 Name Program  age
0  F2018313014           Umer Saeed  MS(DS)   37
1  F2018313016      Ahmed Abdullah   BS(CS)   28
2  F2018313017          Bilal Iqbal  MS(TE)   25
3  F2018313019  Muhammad Ijlal Khan  BS(CE)   28

In [260]:
#Merge Dataframes::Indicator

In [261]:
table6=pd.merge(Student,age,on="ID",how="outer",indicator=True)

In [262]:
print(table6)

            ID                 Name Program   age     _merge
0  F2018313014           Umer Saeed  MS(DS)  37.0       both
1  F2018313015            Ali Ahmed     BBA   NaN  left_only
2  F2018313016      Ahmed Abdullah   BS(CS)  28.0       both
3  F2018313017          Bilal Iqbal  MS(TE)  25.0       both
4  F2018279005         Irfan Kareem  MS(CS)   NaN  left_only
5  F2018313019  Muhammad Ijlal Khan  BS(CE)  28.0       both

In [263]:
#Merge Dataframes::Suffixes (Example-1)

In [264]:
df1=pd.DataFrame({'ID':['F2018313014','F2018313015'],'Marks':[98,97]})

In [265]:
print(df1)

            ID  Marks
0  F2018313014     98
1  F2018313015     97

In [266]:
df2=pd.DataFrame({'ID':['F2018313014','F2018313015'],'Marks':[96,95]})

In [267]:
print(df2)

            ID  Marks
0  F2018313014     96
1  F2018313015     95

In [268]:
df3=pd.merge(df1,df2,on="ID")

In [269]:
print(df3)

            ID  Marks_x  Marks_y
0  F2018313014       98       96
1  F2018313015       97       95

In [270]:
#Merge Dataframes::Suffixes (Example-2)

In [271]:
df1=pd.DataFrame({'ID':['F2018313014','F2018313015'],'Marks':[98,97]})

In [272]:
print(df1)

            ID  Marks
0  F2018313014     98
1  F2018313015     97

In [273]:
df2=pd.DataFrame({'ID':['F2018313014','F2018313015'],'Marks':[96,95]})

In [274]:
print(df2)

            ID  Marks
0  F2018313014     96
1  F2018313015     95

In [275]:
df3=pd.merge(df1,df2,on="ID",suffixes=('_Math','_Physics'))

In [276]:
print(df3)

            ID  Marks_Math  Marks_Physics
0  F2018313014          98             96
1  F2018313015          97             95

In [277]:
#Pivot (pivot allows us to transform or reshape data)

In [278]:
We3= pd.read_csv('Weather3.csv')

In [279]:
print(We3)

       Date     City  Temperature  Humidity
0  1-Mar-19   Lahore            5        20
1  2-Mar-19   Lahore            8        25
2  3-Mar-19   Lahore           10        15
3  4-Mar-19  Karachi           15        40
4  5-Mar-19  Karachi           18        45
5  6-Mar-19  Karachi           20        50
6  7-Mar-19  RWP/ISB            4        15
7  8-Mar-19  RWP/ISB            7        20
8  9-Mar-19  RWP/ISB            9        10

In [280]:
df1=We3.pivot(index="Date",columns="City")

In [281]:
print(df1)

         Temperature                Humidity
City         Karachi Lahore RWP/ISB  Karachi Lahore RWP/ISB
Date
1-Mar-19         NaN    5.0     NaN      NaN   20.0     NaN
2-Mar-19         NaN    8.0     NaN      NaN   25.0     NaN
3-Mar-19         NaN   10.0     NaN      NaN   15.0     NaN
4-Mar-19        15.0    NaN     NaN     40.0    NaN     NaN
5-Mar-19        18.0    NaN     NaN     45.0    NaN     NaN
6-Mar-19        20.0    NaN     NaN     50.0    NaN     NaN
7-Mar-19         NaN    NaN     4.0      NaN    NaN    15.0
8-Mar-19         NaN    NaN     7.0      NaN    NaN    20.0
9-Mar-19         NaN    NaN     9.0      NaN    NaN    10.0

In [282]:
# if only Temperature values required.

In [283]:
df2=We3.pivot(index="Date",columns="City",values='Temperature')

In [284]:
print(df2)

City      Karachi  Lahore  RWP/ISB
Date
1-Mar-19      NaN     5.0      NaN
2-Mar-19      NaN     8.0      NaN
3-Mar-19      NaN    10.0      NaN
4-Mar-19     15.0     NaN      NaN
5-Mar-19     18.0     NaN      NaN
6-Mar-19     20.0     NaN      NaN
7-Mar-19      NaN     NaN      4.0
8-Mar-19      NaN     NaN      7.0
9-Mar-19      NaN     NaN      9.0

In [285]:
#Pivot Table
# #Pivot table is used to summarize and aggregate data inside dataframe

In [286]:
We4= pd.read_csv('Weather4.csv')

In [287]:
print(We4)

         Date     City  Temperature  Humidity
0    1-Mar-19   Lahore            5        20
1    2-Mar-19   Lahore            4        15
2    3-Mar-19   Lahore            8        25
3    4-Mar-19   Lahore            7        10
4    5-Mar-19   Lahore           10        15
5    6-Mar-19   Lahore            1         2
6    7-Mar-19  Karachi           15        40
7    8-Mar-19  Karachi           10        20
8    9-Mar-19  Karachi           18        45
9   10-Mar-19  Karachi            9        22
10  11-Mar-19  Karachi           20        50
11  12-Mar-19  Karachi           10        25
12  13-Mar-19  RWP/ISB            4        15
13  14-Mar-19  RWP/ISB            2         7
14  15-Mar-19  RWP/ISB            7        20
15  16-Mar-19  RWP/ISB            3        10
16  17-Mar-19  RWP/ISB            9        10
17  18-Mar-19  RWP/ISB            3         3

In [288]:
#Summary of the Data (Example-1)

hello=We4.pivot_table(index="City",columns="Date")

In [289]:
print(hello)

        Humidity                                                              \
Date    1-Mar-19 10-Mar-19 11-Mar-19 12-Mar-19 13-Mar-19 14-Mar-19 15-Mar-19
City
Karachi      NaN      22.0      50.0      25.0       NaN       NaN       NaN
Lahore      20.0       NaN       NaN       NaN       NaN       NaN       NaN
RWP/ISB      NaN       NaN       NaN       NaN      15.0       7.0      20.0

                                        ...    Temperature                     \
Date    16-Mar-19 17-Mar-19 18-Mar-19   ...      17-Mar-19 18-Mar-19 2-Mar-19
City                                    ...
Karachi       NaN       NaN       NaN   ...            NaN       NaN      NaN
Lahore        NaN       NaN       NaN   ...            NaN       NaN      4.0
RWP/ISB      10.0      10.0       3.0   ...            9.0       3.0      NaN


Date    3-Mar-19 4-Mar-19 5-Mar-19 6-Mar-19 7-Mar-19 8-Mar-19 9-Mar-19
City
Karachi      NaN      NaN      NaN      NaN     15.0     10.0     18.0
Lahore       8.0      7.0     10.0      1.0      NaN      NaN      NaN
RWP/ISB      NaN      NaN      NaN      NaN      NaN      NaN      NaN

[3 rows x 36 columns]

In [290]:
#Summary of the Data (Example-2)
hi=We4.pivot_table(index="City",columns="Date",values='Temperature')
print(hi)

Date     1-Mar-19  10-Mar-19  11-Mar-19  12-Mar-19  13-Mar-19  14-Mar-19  \
City
Karachi       NaN        9.0       20.0       10.0        NaN        NaN
Lahore        5.0        NaN        NaN        NaN        NaN        NaN
RWP/ISB       NaN        NaN        NaN        NaN        4.0        2.0

Date     15-Mar-19  16-Mar-19  17-Mar-19  18-Mar-19  2-Mar-19  3-Mar-19  \
City
Karachi        NaN        NaN        NaN        NaN       NaN       NaN
Lahore         NaN        NaN        NaN        NaN       4.0       8.0
RWP/ISB        7.0        3.0        9.0        3.0       NaN       NaN

Date     4-Mar-19  5-Mar-19  6-Mar-19  7-Mar-19  8-Mar-19  9-Mar-19
City
Karachi       NaN       NaN       NaN      15.0      10.0      18.0
Lahore        7.0      10.0       1.0       NaN       NaN       NaN
RWP/ISB       NaN       NaN       NaN       NaN       NaN       NaN

In [291]:
#Summary of the Data (aggfunc:sum)
df3=We4.pivot_table(index="City",columns="Date",values='Temperature',aggfunc='sum')

In [292]:
print(df3)

Date     1-Mar-19  10-Mar-19  11-Mar-19  12-Mar-19  13-Mar-19  14-Mar-19  \
City
Karachi       NaN        9.0       20.0       10.0        NaN        NaN
Lahore        5.0        NaN        NaN        NaN        NaN        NaN
RWP/ISB       NaN        NaN        NaN        NaN        4.0        2.0

Date     15-Mar-19  16-Mar-19  17-Mar-19  18-Mar-19  2-Mar-19  3-Mar-19  \
City
Karachi        NaN        NaN        NaN        NaN       NaN       NaN
Lahore         NaN        NaN        NaN        NaN       4.0       8.0
RWP/ISB        7.0        3.0        9.0        3.0       NaN       NaN

Date     4-Mar-19  5-Mar-19  6-Mar-19  7-Mar-19  8-Mar-19  9-Mar-19
City
Karachi       NaN       NaN       NaN      15.0      10.0      18.0
Lahore        7.0      10.0       1.0       NaN       NaN       NaN
RWP/ISB       NaN       NaN       NaN       NaN       NaN       NaN

In [293]:
df4=We4.pivot_table(index="City",columns="Date",values='Temperature',aggfunc='mean')

In [294]:
print(df4)

Date     1-Mar-19  10-Mar-19  11-Mar-19  12-Mar-19  13-Mar-19  14-Mar-19  \
City
Karachi       NaN        9.0       20.0       10.0        NaN        NaN
Lahore        5.0        NaN        NaN        NaN        NaN        NaN
RWP/ISB       NaN        NaN        NaN        NaN        4.0        2.0

Date     15-Mar-19  16-Mar-19  17-Mar-19  18-Mar-19  2-Mar-19  3-Mar-19  \
City
Karachi        NaN        NaN        NaN        NaN       NaN       NaN
Lahore         NaN        NaN        NaN        NaN       4.0       8.0
RWP/ISB        7.0        3.0        9.0        3.0       NaN       NaN

Date     4-Mar-19  5-Mar-19  6-Mar-19  7-Mar-19  8-Mar-19  9-Mar-19
City
Karachi       NaN       NaN       NaN      15.0      10.0      18.0
Lahore        7.0      10.0       1.0       NaN       NaN       NaN
RWP/ISB       NaN       NaN       NaN       NaN       NaN       NaN

In [295]:
#Melt is used to transform or reshape data

In [296]:
we8= pd.read_csv('Weather6.csv')

In [297]:
print(we8)

         Day  Lahore  Karachi  RWP/ISB
0     Monday      10       20        9
1    Tuesday      11       21        8
2  Wednesday      12       22        7
3   Thursday      13       23        6
4     Friday      14       24        5
5   Saturday      15       25        4
6     Sunday      16       26        3

In [298]:
we9=pd.melt(we8,id_vars=["Day"])

In [299]:
print(we9)

          Day variable  value
0      Monday   Lahore     10
1     Tuesday   Lahore     11
2   Wednesday   Lahore     12
3    Thursday   Lahore     13
4      Friday   Lahore     14
5    Saturday   Lahore     15
6      Sunday   Lahore     16
7      Monday  Karachi     20
8     Tuesday  Karachi     21
9   Wednesday  Karachi     22
10   Thursday  Karachi     23
11     Friday  Karachi     24
12   Saturday  Karachi     25
13     Sunday  Karachi     26
14     Monday  RWP/ISB      9
15    Tuesday  RWP/ISB      8
16  Wednesday  RWP/ISB      7
17   Thursday  RWP/ISB      6
18     Friday  RWP/ISB      5
19   Saturday  RWP/ISB      4
20     Sunday  RWP/ISB      3

In [300]:
#Melt (example-2) assign variable and value name

In [301]:
we10=pd.melt(we8,id_vars=["Day"],var_name="City", value_name='Temp')

In [302]:
print(we10)

          Day     City  Temp
0      Monday   Lahore    10
1     Tuesday   Lahore    11
2   Wednesday   Lahore    12
3    Thursday   Lahore    13
4      Friday   Lahore    14
5    Saturday   Lahore    15
6      Sunday   Lahore    16
7      Monday  Karachi    20
8     Tuesday  Karachi    21
9   Wednesday  Karachi    22
10   Thursday  Karachi    23
11     Friday  Karachi    24
12   Saturday  Karachi    25
13     Sunday  Karachi    26
14     Monday  RWP/ISB     9
15    Tuesday  RWP/ISB     8
16  Wednesday  RWP/ISB     7
17   Thursday  RWP/ISB     6
18     Friday  RWP/ISB     5
19   Saturday  RWP/ISB     4
20     Sunday  RWP/ISB     3

In [303]:
#Melt (example-2) Filter

In [304]:
we11=we10[we10["City"]=="Lahore"]

In [305]:
print(we11)

         Day    City  Temp
0     Monday  Lahore    10
1    Tuesday  Lahore    11
2  Wednesday  Lahore    12
3   Thursday  Lahore    13
4     Friday  Lahore    14
5   Saturday  Lahore    15
6     Sunday  Lahore    16

In [306]:
#Pandas Stack (Example-1)

In [307]:
df=pd.read_excel("Company.xlsx",header=[0,1])

In [308]:
print(df)

              Price                  Price to earning rate
Company    Facebook Google Microsoft              Facebook Google Microsoft
2019-03-02      150   1000       500                    33     43        83
2019-03-03      140    950       400                    34     53        93
2019-03-04      135    900       300                    35     63       103
2019-03-05      130    800       200                    36     73       113

In [309]:
df1=df.stack()

In [310]:
print(df1)

                      Price  Price to earning rate
           Company
2019-03-02 Facebook     150                     33
           Google      1000                     43
           Microsoft    500                     83
2019-03-03 Facebook     140                     34
           Google       950                     53
           Microsoft    400                     93
2019-03-04 Facebook     135                     35
           Google       900                     63
           Microsoft    300                    103
2019-03-05 Facebook     130                     36
           Google       800                     73
           Microsoft    200                    113

In [311]:
df2=df1.stack(level=0)

In [312]:
print(df2)

            Company
2019-03-02  Facebook   Price                     150
                       Price to earning rate      33
            Google     Price                    1000
                       Price to earning rate      43
            Microsoft  Price                     500
                       Price to earning rate      83
2019-03-03  Facebook   Price                     140
                       Price to earning rate      34
            Google     Price                     950
                       Price to earning rate      53
            Microsoft  Price                     400
                       Price to earning rate      93
2019-03-04  Facebook   Price                     135
                       Price to earning rate      35
            Google     Price                     900
                       Price to earning rate      63
            Microsoft  Price                     300
                       Price to earning rate     103
2019-03-05  Facebook   Price                     130
                       Price to earning rate      36
            Google     Price                     800
                       Price to earning rate      73
            Microsoft  Price                     200
                       Price to earning rate     113
dtype: int64

In [313]:
#Pandas Unstack

In [314]:
df3=df1.unstack()

In [315]:
print(df3)

              Price                  Price to earning rate
Company    Facebook Google Microsoft              Facebook Google Microsoft
2019-03-02      150   1000       500                    33     43        83
2019-03-03      140    950       400                    34     53        93
2019-03-04      135    900       300                    35     63       103
2019-03-05      130    800       200                    36     73       113

In [316]:
#Pandas Stack (Example-2)
df=pd.read_excel("Company1.xlsx",header=[0,1,2])

In [317]:
print(df)

           Price Ratio                                                \
                 Price                  Price to earning rate
Company       Facebook Google Microsoft              Facebook Google
2019-03-02         150   1000       500                    33     43
2019-03-03         140    950       400                    34     53
2019-03-04         135    900       300                    35     63
2019-03-05         130    800       200                    36     73

                     Income Statement                                     \
                            Net Sales                  Net Profit
Company    Microsoft         Facebook Google Microsoft   Facebook Google
2019-03-02        83              150   1000       500         33     43
2019-03-03        93              140    950       400         34     53
2019-03-04       103              135    900       300         35     63
2019-03-05       113              130    800       200         36     73



Company    Microsoft
2019-03-02        83
2019-03-03        93
2019-03-04       103
2019-03-05       113

In [318]:
df1=df.stack()

In [319]:
print(df1)

                     Income Statement           Price Ratio  \
                           Net Profit Net Sales       Price
           Company
2019-03-02 Facebook                33       150         150
           Google                  43      1000        1000
           Microsoft               83       500         500
2019-03-03 Facebook                34       140         140
           Google                  53       950         950
           Microsoft               93       400         400
2019-03-04 Facebook                35       135         135
           Google                  63       900         900
           Microsoft              103       300         300
2019-03-05 Facebook                36       130         130
           Google                  73       800         800
           Microsoft              113       200         200


                     Price to earning rate
           Company
2019-03-02 Facebook                     33
           Google                       43
           Microsoft                    83
2019-03-03 Facebook                     34
           Google                       53
           Microsoft                    93
2019-03-04 Facebook                     35
           Google                       63
           Microsoft                   103
2019-03-05 Facebook                     36
           Google                       73
           Microsoft                   113

In [320]:
df3=df.stack(level=0)

In [321]:
print(df3)

                            Net Profit                  Net Sales          \
Company                       Facebook Google Microsoft  Facebook  Google
2019-03-02 Income Statement       33.0   43.0      83.0     150.0  1000.0
           Price Ratio             NaN    NaN       NaN       NaN     NaN
2019-03-03 Income Statement       34.0   53.0      93.0     140.0   950.0
           Price Ratio             NaN    NaN       NaN       NaN     NaN
2019-03-04 Income Statement       35.0   63.0     103.0     135.0   900.0
           Price Ratio             NaN    NaN       NaN       NaN     NaN
2019-03-05 Income Statement       36.0   73.0     113.0     130.0   800.0
           Price Ratio             NaN    NaN       NaN       NaN     NaN

                                         Price                    \
Company                     Microsoft Facebook  Google Microsoft
2019-03-02 Income Statement     500.0      NaN     NaN       NaN
           Price Ratio            NaN    150.0  1000.0     500.0
2019-03-03 Income Statement     400.0      NaN     NaN       NaN
           Price Ratio            NaN    140.0   950.0     400.0
2019-03-04 Income Statement     300.0      NaN     NaN       NaN
           Price Ratio            NaN    135.0   900.0     300.0
2019-03-05 Income Statement     200.0      NaN     NaN       NaN
           Price Ratio            NaN    130.0   800.0     200.0

                            Price to earning rate
Company                                  Facebook Google Microsoft
2019-03-02 Income Statement                   NaN    NaN       NaN
           Price Ratio                       33.0   43.0      83.0
2019-03-03 Income Statement                   NaN    NaN       NaN
           Price Ratio                       34.0   53.0      93.0
2019-03-04 Income Statement                   NaN    NaN       NaN
           Price Ratio                       35.0   63.0     103.0
2019-03-05 Income Statement                   NaN    NaN       NaN
           Price Ratio                       36.0   73.0     113.0

In [322]:
df4=df.stack(level=1)

In [323]:
print(df4)

                                 Income Statement                    \
Company                                  Facebook  Google Microsoft
2019-03-02 Net Profit                        33.0    43.0      83.0
           Net Sales                        150.0  1000.0     500.0
           Price                              NaN     NaN       NaN
           Price to earning rate              NaN     NaN       NaN
2019-03-03 Net Profit                        34.0    53.0      93.0
           Net Sales                        140.0   950.0     400.0
           Price                              NaN     NaN       NaN
           Price to earning rate              NaN     NaN       NaN
2019-03-04 Net Profit                        35.0    63.0     103.0
           Net Sales                        135.0   900.0     300.0
           Price                              NaN     NaN       NaN
           Price to earning rate              NaN     NaN       NaN
2019-03-05 Net Profit                        36.0    73.0     113.0
           Net Sales                        130.0   800.0     200.0
           Price                              NaN     NaN       NaN
           Price to earning rate              NaN     NaN       NaN

                                 Price Ratio
Company                             Facebook  Google Microsoft
2019-03-02 Net Profit                    NaN     NaN       NaN
           Net Sales                     NaN     NaN       NaN
           Price                       150.0  1000.0     500.0
           Price to earning rate        33.0    43.0      83.0
2019-03-03 Net Profit                    NaN     NaN       NaN
           Net Sales                     NaN     NaN       NaN
           Price                       140.0   950.0     400.0
           Price to earning rate        34.0    53.0      93.0
2019-03-04 Net Profit                    NaN     NaN       NaN
           Net Sales                     NaN     NaN       NaN
           Price                       135.0   900.0     300.0
           Price to earning rate        35.0    63.0     103.0
2019-03-05 Net Profit                    NaN     NaN       NaN
           Net Sales                     NaN     NaN       NaN
           Price                       130.0   800.0     200.0
           Price to earning rate        36.0    73.0     113.0

In [324]:
df5=df.stack(level=2)

In [325]:
print(df5)

                     Income Statement           Price Ratio  \
                           Net Profit Net Sales       Price
           Company
2019-03-02 Facebook                33       150         150
           Google                  43      1000        1000
           Microsoft               83       500         500
2019-03-03 Facebook                34       140         140
           Google                  53       950         950
           Microsoft               93       400         400
2019-03-04 Facebook                35       135         135
           Google                  63       900         900
           Microsoft              103       300         300
2019-03-05 Facebook                36       130         130
           Google                  73       800         800
           Microsoft              113       200         200


                     Price to earning rate
           Company
2019-03-02 Facebook                     33
           Google                       43
           Microsoft                    83
2019-03-03 Facebook                     34
           Google                       53
           Microsoft                    93
2019-03-04 Facebook                     35
           Google                       63
           Microsoft                   103
2019-03-05 Facebook                     36
           Google                       73
           Microsoft                   113

In [326]:
#Python Pandas Crosstab

In [327]:
df=pd.read_csv("Handedness.csv")

In [328]:
print(df)

       Name Nationality     Sex  Age Handedness
0       Ali    Pakistan    Male   32       Left
1      Amir   Bangadesh    Male   28       Left
2   Tauseef         KSA    Male   28       Left
3     Sarah    Pakistan  Female    5      Right
4      Umer    Pakistan    Male   36      Right
5     Ahmed    Pakistan    Male   30      Right
6     Bilal   Bangadesh    Male   30      Right
7     Zarah   Bangadesh  Female    5      Right
8     Ijlal   Bangadesh    Male   30      Right
9     Yasir         KSA    Male   30      Right
10   Kamran         KSA    Male   30      Right
11     Sana         KSA  Female    5      Right

In [329]:
df1=pd.crosstab(df.Nationality,df.Handedness)

In [330]:
print(df1)

Handedness   Left  Right
Nationality
Bangadesh       1      3
KSA             1      3
Pakistan        1      3

In [331]:
df2=pd.crosstab(df.Sex,df.Handedness)

In [332]:
print(df2)

Handedness  Left  Right
Sex
Female         0      3
Male           3      6

In [333]:
df3=pd.crosstab(df.Sex,df.Handedness,margins=True)

In [334]:
print(df3)

Handedness  Left  Right  All
Sex
Female         0      3    3
Male           3      6    9
All            3      9   12

In [335]:
df4=pd.crosstab(df.Sex,[df.Handedness,df.Nationality],margins=True)

In [336]:
print(df4)

Handedness       Left                  Right              All
Nationality Bangadesh KSA Pakistan Bangadesh KSA Pakistan
Sex
Female              0   0        0         1   1        1   3
Male                1   1        1         2   2        2   9
All                 1   1        1         3   3        3  12

In [337]:
df5=pd.crosstab([df.Sex,df.Nationality],df.Handedness,margins=True)

In [338]:
print(df5)

Handedness          Left  Right  All
Sex    Nationality
Female Bangadesh       0      1    1
       KSA             0      1    1
       Pakistan        0      1    1
Male   Bangadesh       1      2    3
       KSA             1      2    3
       Pakistan        1      2    3
All                    3      9   12

In [339]:
df6=pd.crosstab(df.Sex,df.Handedness,normalize='index')

In [340]:
print(df6)

Handedness      Left     Right
Sex
Female      0.000000  1.000000
Male        0.333333  0.666667

In [341]:
df7=pd.crosstab(df.Sex,df.Handedness,values=df.Age,aggfunc=np.average)

In [342]:
print(df7)

Handedness       Left  Right
Sex
Female            NaN    5.0
Male        29.333333   31.0

In [343]:
#groupby

In [344]:
df= pd.read_csv('GroupBy.csv')

In [345]:
print(df)

         Date    City  Temperature  Windspeed  Event
0    2-Mar-19  Lahore            4          9   Rain
1    3-Mar-19  Lahore            8          6   Snow
2    4-Mar-19  Lahore           10          7  Sunny
3    5-Mar-19  Lahore            6         12   Snow
4    6-Mar-19     SKT            5         10  Sunny
5    7-Mar-19     SKT            9          5   Snow
6    8-Mar-19     SKT           11          4   Rain
7    9-Mar-19     SKT            7         14   Snow
8   10-Mar-19     HFZ            8         10  Sunny
9   11-Mar-19     HFZ           10          5   Snow
10  12-Mar-19     HFZ           12          4   Rain
11  13-Mar-19     HFZ            8         14   Snow

In [346]:
dfg=df.groupby('City')

In [347]:
print(dfg)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001B8DF1B3F28>

In [348]:
for City in dfg:
    print(City)
    print(dfg)

('HFZ',          Date City  Temperature  Windspeed  Event
8   10-Mar-19  HFZ            8         10  Sunny
9   11-Mar-19  HFZ           10          5   Snow
10  12-Mar-19  HFZ           12          4   Rain
11  13-Mar-19  HFZ            8         14   Snow)
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001B8DF1B3F28>
('Lahore',        Date    City  Temperature  Windspeed  Event
0  2-Mar-19  Lahore            4          9   Rain
1  3-Mar-19  Lahore            8          6   Snow
2  4-Mar-19  Lahore           10          7  Sunny
3  5-Mar-19  Lahore            6         12   Snow)
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001B8DF1B3F28>
('SKT',        Date City  Temperature  Windspeed  Event
4  6-Mar-19  SKT            5         10  Sunny
5  7-Mar-19  SKT            9          5   Snow
6  8-Mar-19  SKT           11          4   Rain
7  9-Mar-19  SKT            7         14   Snow)
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001B8DF1B3F28>

In [349]:
dfgg=dfg.get_group('Lahore')

In [350]:
print(dfgg)

       Date    City  Temperature  Windspeed  Event
0  2-Mar-19  Lahore            4          9   Rain
1  3-Mar-19  Lahore            8          6   Snow
2  4-Mar-19  Lahore           10          7  Sunny
3  5-Mar-19  Lahore            6         12   Snow

In [351]:
dfgt=dfg['Temperature'].max()

In [352]:
print(dfgt)

City
HFZ       12
Lahore    10
SKT       11
Name: Temperature, dtype: int64

In [353]:
dfg.mean()

        Temperature  Windspeed
City
HFZ             9.5       8.25
Lahore          7.0       8.50
SKT             8.0       8.25

In [354]:
dfg.describe()

       Temperature                                           Windspeed        \
             count mean       std  min  25%  50%   75%   max     count  mean
City
HFZ            4.0  9.5  1.914854  8.0  8.0  9.0  10.5  12.0       4.0  8.25
Lahore         4.0  7.0  2.581989  4.0  5.5  7.0   8.5  10.0       4.0  8.50
SKT            4.0  8.0  2.581989  5.0  6.5  8.0   9.5  11.0       4.0  8.25


             std  min   25%  50%    75%   max
City
HFZ     4.645787  4.0  4.75  7.5  11.00  14.0
Lahore  2.645751  6.0  6.75  8.0   9.75  12.0
SKT     4.645787  4.0  4.75  7.5  11.00  14.0